[2018-12-29 04:21] benwinding opened #2 "Validation Context: Which property is not valid on an object"
Is it possible to determine which property is valid on an object from the `AssertType` function? Currently I only see `Type assertion failed`

Something like the following would be helpful:

[code]

[2019-01-01 00:46] woutervh- commented on #2
Hi @benwinding

If I understand correctly you want to have an error message saying what exactly made the validation fail.
This is on the road map https://github.com/woutervh-/typescript-is/blob/master/README.md#%EF%B8%8F-road-map
I will try to make some time for it soon :)

Cheers

[2019-01-11 09:16] woutervh- commented on #2
Quick note to keep you updated: I have started a branch with the changes needed to achieve this:
https://github.com/woutervh-/typescript-is/tree/validation-detailed-error-message

It's still WIP and will take a bit of time to complete it.

[2019-01-13 14:46] geomaster commented on #2
@woutervh- Thank you for putting in the effort! I also think this would be a great feature to have. We use this library for many things, e.g. validating shapes of API requests coming in, but it would be cool to be able to return a detailed validation error to the client.

If there's any way to help with the implementation (I'm not sure how parallelizable the task is), I'd be happy to.

[2019-01-20 12:44] geomaster opened #3 ""Unsupported declaration kind" when validating against a class containing a method"
**ttypescript version**: 3.2.4
**typescript-is version**: 0.7.16
**node version**: 11.6.0

**Steps to reproduce**:
Try compiling a file containing the following:
[code]

**Actual results**:
The compilation fails with an error like this:
[code]

**Expected results**:
I know that class validation is explicitly not supported, which is completely fine. But this only breaks when the class has a method,

[2019-01-21 12:37] woutervh- commented on #3
Thanks @geomaster , I've made a fix, please try version 0.7.17.

(Commit: https://github.com/woutervh-/typescript-is/commit/efea60223ccc20e29e97dd20ea0652ab1bc0e8ce)

[2019-01-21 18:28] geomaster opened #4 "Nested generic types result in "Unbound type parameter, missing type node.""
Not sure if this is intended behavior, please let me know if so!

**ttypescript version**: 3.2.4
**typescript-is version**: 0.7.17
**node version**: 11.6.0

**Steps to reproduce**:
Try compiling a file containing the following:
[code]

**Actual results**:
The compilation fails with an error like this:
[code]

**Expected results**:
Since the `T` type parameter is bound to `number` in `X<number>`, I

[2019-01-22 09:12] woutervh- commented on #3
Hi @geomaster

I have tried it myself as well with your minimal reproduction example:
[code]

I'm getting the correct error message:

[code]

Could there be something different with your settings? If possible a minimal repo with all the config included could be helpful to reproduce it.

[2019-01-22 09:18] woutervh- commented on #4
Thanks @geomaster for the report. This does indeed look like a bug. I will investigate it and hopefully deploy a fix soon!

[2019-01-22 10:08] woutervh- commented on #4
I've made a fix, please try version 0.7.18.
You can see the test file here: https://github.com/woutervh-/typescript-is/blob/master/test/issue-4.ts

[2019-01-24 16:33] geomaster commented on #3
Yep, looks like it's working. I must have made a mistake when re-testing. Thanks!

[2019-01-24 16:33] #3 closed

[2019-01-24 17:08] geomaster commented on #4
Works like a charm now. Thank you so much @woutervh-!

[2019-01-24 17:08] #4 closed

[2019-01-27 12:46] khmseu opened #5 "is<Isomething>() -> NestedError: Failed to transform node"
[attach.zip](https://github.com/woutervh-/typescript-is/files/2800026/attach.zip)

kai@desktop:/bigdata/KAI/projects/Mechanic$ ./prepare-checkin.sh
yarn run v1.13.0
$ ttsc
typescript-is: transforming program with 98 source files; using TypeScript 3.2.4.

/bigdata/KAI/projects/Mechanic/node_modules/typescript/lib/typescript.js:86995
                throw e;
                ^
NestedError: Failed to

[2019-01-27 18:19] woutervh- commented on #5
hi @khmseu
From the error I see there is an unsupported syntax kind `155` which is a constructor.
As this package is primarily used to validate serializable data, it does not support functions, classes, constructors, etc. The best I could do in that case is to simply check if it is a function, but that does not mean the function complies with the signature defined in TypeScript, so it's not very u

[2019-01-27 22:51] geomaster opened #6 "Tuples are not type-checked correctly"
**ttypescript version**: 3.2.4
**typescript-is version**: 0.7.18
**node version**: 11.6.0

**Steps to reproduce:**
Try compiling a file containing the following:

[code]

**Actual results:**
Both statements print `true`.

**Expected results:**
Both statements should print `false`, as neither `[0]` nor `[]` satisfy the `NumTuple` type.

I feel like I'm submitting too many bug reports :) Let me know

[2019-01-28 08:14] woutervh- commented on #6
hi @geomaster

I'm glad to hear you like the project. Feel free to help out with issues like this and/or PRs. The bug reports help mature the project which is good.

Back to the issue: I agree that the generated code should check for the array length of tuples, currently it just checks if it would be an array of numbers. I will fix this and release a new version.

[2019-01-28 10:46] woutervh- commented on #6
I've added support for tuples, please check test cases here:
https://github.com/woutervh-/typescript-is/blob/master/test/issue-6.ts

New version is 0.8.0.

[2019-01-30 21:53] ArashMotamedi opened #7 "Idea: Emit is.ts, bundling validators and assertions for all discovered types and interfaces"
First: Thanks for this fantastic work! Finally bringing runtime sanity to objects, APIs, files, etc.

So I'm in the process of adding validators across my code; something like:
[code]

which means that I'm repeating that `isInterface = createIs<Interface>()` line for all my interfaces and types.

Would you consider automatically generating `is[Interface]`, `assert[Interface]` and other checker and

[2019-01-31 09:08] woutervh- commented on #7
Hi @ArashMotamedi

Glad to hear you like the project!

I'm guessing just using `is<Interface>(obj)` where ever you need to check the type is not an option for you, and that's why you're using the `createIs<Interface>()` function. Probably to reduce the size of the transformed code? I agree that it would be easier to have a generated module in that case.

In fact, my first attempt when I started th

[2019-01-31 09:11] woutervh- commented on #6
Closing the ticket due to house keeping, feel free to open another ticket in case it's still not working.

[2019-01-31 09:11] #6 closed

[2019-01-31 12:56] geomaster commented on #6
Sorry for the delay @woutervh-, I missed the notification. Works fine now, thanks!

[2019-02-04 10:01] woutervh- commented on #5
I've added a more detailed error message when it encounters a method.
https://github.com/woutervh-/typescript-is/commit/7019c1e04401ca19e8a3e74aebdcea4cce60063c

It will be part of the next version.
I'll close the ticket for house keeping.

[2019-02-04 10:01] #5 closed

[2019-02-08 16:27] woutervh- commented on #2
I've merged the branch and released a new version `0.9.0`
The error messages are still rudimentary and a WIP, but should not have any breaking changes, and already add some value to you.

Let me know if it's all working good for you, and any tips on improving the error messages are welcome.
Also feel free to add unit tests for any failing cases.

Here are the tests:
https://github.com/woutervh-/ty

[2019-02-09 09:01] danielbodart opened #9 "Transformer Performance"
I was just trying out your transformer as I planned to write something similar myself until I found yours, but on a medium sized library just enabling the transformer I see a 21% increase in compile time (from 3.82 seconds to 4.63 on a 16 core machine with all NVMe storage).

Is that expected?

Using ttypescript (ttsc)

[2019-02-09 10:38] woutervh- commented on #9
Hi @danielbodart

Thanks for the info. To be honest I haven't looked at performance at all. It is expected that using the transformer will increase the compile time by *some* amount, because the entire AST has to be visited (I don't think there are any TypeScript APIs that allow indexed queries on the AST.) There are probably some small optimizations that can be made here and there, but I don't kn

[2019-02-09 16:51] danielbodart commented on #9
I did some more testing and just enabling ttsc with no plugins adds about a 7% slow down!. Adding a simple plugin that just console.log adds another 2% (as consoles are synchronised that's probably not helping)

I had a look at how ttypescript monkey patches tsc and it's pretty simple but I wonder if tsc is using some form of parallelism (which is pretty standard practice in compilers) that is bei

[2019-02-09 20:34] woutervh- commented on #9
Nice analysis. Pretty surprising that a simple console.log plugin would add 2%+7% compile time.

Regarding the annotation idea:
- You'd still have to walk the AST to find the annotations, unless there is a TypeScript compiler API that can be queried for all annotations, but I'm not aware of such an API. So in terms of time saved for walking the AST I don't think it would make much of a difference.

[2019-02-12 14:14] geomaster commented on #2
Looks good so far, thanks! Although the error messages are a bit confusing, but that can always be improved - they are helpful even now.

As for tips for improving, take this example code:
[code]
The error message we get is:
[code]
However, I think this stack of causes might be unnecessary, just the most nested error message gives all the information, e.g.:
[code]
In this example, it's fairly OK a

[2019-02-12 14:25] woutervh- commented on #2
Thanks for the feedback @geomaster
The only reason I included the full stack of causes is in case there is an alternative:

[code]

In this case the error message is:
`at $; all causes: (at $; cause: at $; cause: at $.foo: expected number; at $; cause: at $; cause: at $.foo: expected string)`
But you're right, even here it should be enough to just say `at $.foo: expected string OR at $.foo: expect

[2019-02-12 18:30] ArashMotamedi commented on #7
Hey @woutervh-

Thanks for your reply and sorry for my delay. I went back and forth a bunch of times to figure out what exactly I'm trying to achieve, and realized that my true goal is to create a semi-reflection solution, to be able to validate objects at runtime, with as little manual coding as possible. This is what I have done so far: https://gist.github.com/ArashMotamedi/7f3ee81839618939c6dc5

[2019-02-13 18:12] woutervh- commented on #7
Hi @ArashMotamedi

I checked out your gist, cool stuff. I've been thinking about generated documentation for APIs in TypeScript myself as well, but unfortunately didn't have the time to get to it.

Regarding the way `typescript-is` is used, here are my two cents:

- In the client, it seems like the type guard is unnecessary. Since the type of the object passed to the `call` function is already of

[2019-02-13 21:46] ArashMotamedi commented on #7
Great points, thanks @woutervh-. Please keep up your great work.

The API extractor and request validator have proven very valuable for my code. I have 3 projects setup: `api-types`, `webapp`, `api-server`. I create interfaces in the `api-types` project, and have integrated my API extractor and your `is` transformer as part of the build/install script. Then I reference this project (as a subtree)

[2019-02-13 21:46] #7 closed

[2019-02-14 17:43] ckknight opened #10 "console.log can be kind of spammy"
This isn't a huge concern, but when running the transformer with webpack, my console gets spammed with line after line of `typescript-is: transforming program with 893 source files; using TypeScript 3.3.1.`

https://github.com/woutervh-/typescript-is/blob/master/src/transform-inline/transformer.ts#L7

[2019-02-15 10:31] woutervh- commented on #10
hi @ckknight

You're, it can be kind of spammy. I will remove the `console.log` be default and add an option to enabled "verbose" logging

[2019-02-15 15:00] woutervh- commented on #10
https://github.com/woutervh-/typescript-is/commit/7c8f4ce26efd690756074503dd9d9d21bc80cf1a
Release `0.9.3`

[2019-02-15 15:00] #10 closed

[2019-02-15 19:22] ckknight commented on #10
Fantastic, thank you.

[2019-02-20 21:16] FlorianWendelborn opened #11 "Doesn’t Seem to Detect Additional Keys"
Either I’m doing something wrong, or this is not yet supported:

[code]

[2019-02-21 14:24] woutervh- commented on #11
hi @FlorianWendelborn

This is intended behavior: the purpose of the type check is to see if the given object is _assignable_ to the given type.
In your case, the object `breaks` is assignable to `Example`, i.e. it fulfills the contract that `Example` defines as an interface.

Typically you would write this manually yourself in the following way:

[code]

In other words: the type check only checks

[2019-02-21 17:19] FlorianWendelborn commented on #11
I’d like to use this feature for validating complicated config files. So, if it would be able to detect typos in optional options, that would save me from having to implement this manually.

[2019-02-21 19:26] woutervh- commented on #11
I see, that seems like a good use case for this feature. I will add it to the planned feature list, but I think it would take a god amount of time to actually get this implemented.

I will keep this issue updated with progress when I start on it.

PRs are welcome of course!

[2019-02-26 16:29] andykais opened #12 "Bug: Does not support recursive types"
Recursive types do not compile, and throw a `RangeError: Maximum call stack size exceeded`. Let me know if this is a problem with `ttypescript` and I can report this bug upstream. Thank you for working on this library! 😄

stack trace:
[code]

simplified failing snippet:
[code]

tsconfig.json:
[code]

[2019-02-27 06:35] rhys-vdw opened #13 "ts-auto-guard collab?"
Hey @woutervh-. Looks like [we're both working on similar tools](https://github.com/usabilityhub/ts-auto-guard). I would have emailed you privately but I can't find your contact details.

Maybe it would make sense to work together instead of building the two tools in parallel?

I've got a debug mode that will explain why the check failed. You've got some of my planned features (assertions etc). Ge

[2019-02-27 08:24] woutervh- commented on #12
Hi @andykais

Good catch, recursive types are expanded indefinitely. I will make it a priority to support those as well.

Thanks!

[2019-02-27 08:45] woutervh- commented on #13
Hi @rhys-vdw

Thanks for contacting me, I think it can be useful for us to collab.
Sounds like we are working towards the same goal indeed.

I had a quick look at `ts-auto-guard` and the approach seems a bit different, but it includes some of my planned features (generating a file with named functions, better debug logging) as well as some features I hadn't thought about, but want to add now (CLI)

[2019-02-28 00:44] rhys-vdw commented on #13
@woutervh- I'm not sure exactly how your inlining works, but I actually thought this was one of the smarter decisions you made (at least in terms of user ergonomics).

For example, when using ts-auto-guard I need to generate the guards before I can use them, slowing down development with compile errors. Whereas `is<T>()` is always available because it's exposed by your library's types.

Basically

[2019-02-28 18:25] woutervh- commented on #13
hi @rhys-vdw

True, inlining makes it easier for the user to work with the package.
The downside is, though, if you use the type guards in multiple lines of code (or across multiple files), the  type guards for the whole set of referenced types is generated again. So it can result in some unnecessarily big files.

I'm currently doing quite a big refactor (branch recursive-types https://github.com/

[2019-03-01 00:29] rhys-vdw commented on #13
Right, well there are other ways to do it. For example, you could generate a giant switch statement inside of `is<T>` that is reused from different contexts.

e.g.:

[code]

The nice part is just that `is<T>()` will be a valid function call regardless of whether the backing code has been generated. Calls could be updated like this:

[code]

And then the `is` function can be generated on the fly. T

[2019-03-02 17:16] woutervh- commented on #2
hi @geomaster

I've made a large refactor and part of the consequences is that the error messages should now be much much simpler and easy to understand.

Please check it out using version `0.10.0` and let me know if you have any feedback.

[2019-03-02 17:17] woutervh- commented on #9
I'll close this ticket for house keeping reasons.

[2019-03-02 17:17] #9 closed

[2019-03-02 17:18] woutervh- commented on #12
hi @andykais

I've finished a large refactoring and as part of the consequences of the refactor recursive types are now supported.
Please try it out using vesion `0.10.0` and let me know if it's working or if you have some other feedback.

Thanks!

[2019-03-02 17:40] woutervh- commented on #13
hi @rhys-vdw

Yes, I've thought about creating such an `is<T>` function that is used globally.
My idea was to dump a map of FQN to type guard like so:

[code]

However when I tried this approach, I got stuck on: how do I use the transformer to modify the existing `node_modules/typescript-is/index.js` file?
Also, often people don't include `node_modules` in their artifacts and when they deploy thei

[2019-03-03 01:37] jtremback opened #14 "This module should not be used in runtime. Instead, use a transformer during compilation."
I just wanted to drop this in here for your information. I don't know the root cause, or whether this issue even belongs in this repo but I thought it might be helpful for you to know about this.

When running with `ts-node-dev --compiler ttypescript --respawn --transpileOnly src/index.ts`, I get the error `This module should not be used in runtime. Instead, use a transformer during compilation.`

[2019-03-03 10:45] woutervh- commented on #14
hi @jtremback

The error you mentioned only happens when the transformer from `typescript-is` is not used. The default implementation is to throw a run-time error.
I'm not exactly sure why the transformer is not used, but as you mentioned that removing the `--transpileOnly` flag resolved the issue, I'm guessing that this option causes `ts-node-dev` to skip the transformation part.
Digging a bit fu

[2019-03-04 16:43] andykais commented on #12
😲 you work fast! I see they work on your example, but I used your assertions against my slightly more complex type ([ConfigInit](https://github.com/andykais/scrape-pages/blob/master/src/settings/config/types.ts)) and it seems to consider any object as valid. I played around a little, and I believe the issue is when there are optional fields on a type, the recursive checks no longer work.

I create

[2019-03-04 18:29] woutervh- commented on #12
hi @andykais

Again, good catch! There was a mistake in the code generation related to optional objects.
I have fixed it and released it as version `0.10.1`.
Please try again.

Thanks!

[2019-03-05 03:48] andykais commented on #12
that did the trick! I have officially moved my project over to typescript-is! https://github.com/andykais/scrape-pages/commit/03f9ddf0fa5df3d9da40715c93e76173050a9dfe

Also, nice work improving those error messages! They are much clearer now! My problem has been addressed, so I will close this issue now

[2019-03-05 03:48] #12 closed

[2019-03-05 08:24] woutervh- commented on #2
Closing this issue for housekeeping. If something is wrong with the way the current error message are generated please re-open or open another ticket.

[2019-03-05 08:24] #2 closed

[2019-03-05 08:24] woutervh- commented on #14
Closing for housekeeping purposes.

[2019-03-05 08:24] #14 closed

[2019-03-09 23:05] jtremback commented on #14
Thanks @woutervh- !

[2019-03-10 09:28] FlorianWendelborn opened #16 "Ignore Methods not Supported or Support RegExp Validation"
I just tried to validate that one of my optional config variables is a `RegExp`. `typescript-is` complained and told me:

Would it be possible to either support `RegExp`, or to opt-out of this error explicitly in the `is<...>(...)`?

[2019-03-11 11:08] woutervh- commented on #16
Hi @FlorianWendelborn

I understand you're trying to validate an object that has a RegExp type property.
Classes are not supported, and because RegExp is a class, it's also not supported.
That being said, I'm not sure why the error message is about a "method" and not a "class", this is something I will investigate.
I also think adding an option to ignore classes/methods/RegExp/Date etc. is a good

[2019-03-11 11:16] woutervh- commented on #16
Foot note 1: `typescript-is` mainly focuses on validation serializable data. Since a RegExp class is generated at runtime, it's somewhere in the code, and that means it should have a type. Is there a reason why the type is lost somewhere in your code?
Foot note 2: if the RegExp is encoded as a string then it becomes serializable and then `typescript-is` can check if it's a string.

[2019-03-15 18:28] watson28 opened #17 "is/assertType functions throw error when interface has Date field"
I have an interface which has a date field and when I try to assert an object against this interface the library throws the following error

Failed to transform node at:  at transformNodeAndChildren (/xxx/node_modules/typescript-is/lib/transform-inline/transformer.js:27

[code]

Does the library doesnt support interfaces with `Date` fields?

[2019-03-15 20:42] woutervh- commented on #17
Hi @watson28

Thanks for reporting the issue.

Validating classes (which also includes Date) is not supported. In issue #16 a similar request came in for the RegExp class. The solution I'm looking at right now is to add an option to ignore classes and methods rather than throw an error.

Would that be an acceptable alternative?

[2019-03-19 01:09] watson28 commented on #17
@woutervh- thanks for your quick response. I think that's a good workaround.
its really bad the library doesn't support classes. is there any plan for supporting classes in the future?

[2019-03-19 18:21] woutervh- commented on #16
Hi @FlorianWendelborn

I've added the following options: `ignoreClasses`, `ignoreMethods`
The latter is needed for skipping `RegExp` validation.

Version: `0.10.2`
Documentation: https://github.com/woutervh-/typescript-is#options

Let me know if this works for you.

[2019-03-19 18:22] woutervh- commented on #13
Hi @rhys-vdw

I've added support for a `shortCircuit` option: https://github.com/woutervh-/typescript-is#options
It's available in version `0.10.2`
Let me know if it's working for you or not.

[2019-03-19 18:26] woutervh- commented on #17
hi @watson28

The workaround has been released (see my comment in #16 for details).

Supporting classes is not something that I see as a high priority for this library because it's focused on type guarding serializable data. RegExp, Date, etc. are all created at runtime, so somewhere in your code where you are creating an instance of these classes you should already have the type available and be

[2019-03-19 19:42] rhys-vdw commented on #13
Hey @woutervh-, just letting you know I'm currently overseas, but I'll be back and able to collaborate in April. :)

[2019-04-04 18:19] andykais opened #18 "[Feature Request] babel macro plugin"
Hi! This one is a big ask, but I want to know if it is in the works at all. Currently, this is what my webpack loaders setup looks like:
[code]
and my .babelrc
[code]
Before introducing typescript-is, I used the single babel-loader to transpile both typescript and javascript. Now, the code has to go through two different loaders, which slows the process significantly, since typechecking the entire

[2019-04-04 18:21] andykais commented on #18
### Update
I opened an issue in the babel repo to see if typescript transformers could be used in babel, and it appears to not be possible. https://github.com/babel/babel/issues/9813

[2019-04-05 04:43] andykais opened #19 "[Feature Request] use custom error when throwing assertions"
It would be nice if the error thrown from assertType and createAssertType used a custom error and exposed that error from the library.

Currently my code using assertions looks like this:
[code]

It would be nice if I could simplify the code to this:
[code]

For reference, `node-fetch` does this with the `FetchError` class https://www.npmjs.com/package/node-fetch#class-fetcherror

[2019-04-05 08:13] woutervh- commented on #19
Hi @andykais
Thanks for the suggestion,
Totally makes sense to me, and seems like an easy change. I will implement this and update the issue when it's released.

[2019-04-05 08:15] woutervh- commented on #18
Hi @andykais

Sounds like a good case to support babel. I've never tried compiling TypeScript with babel, so this is new territory for me. I will do some investigation and see if it's possible/how to do it. Will get back to you when I learn more.

[2019-04-05 08:16] woutervh- commented on #17
Closing for house keeping.

[2019-04-05 08:16] #17 closed

[2019-04-05 08:17] woutervh- commented on #16
Closing for house keeping.

[2019-04-05 08:17] #16 closed

[2019-04-05 14:40] woutervh- commented on #19
Hi @andykais

I have released version `0.10.5`.
The class is called `TypeGuardError` and you can import it from the library:

[code]

Let me know if it's working or not.

[2019-04-05 19:04] andykais commented on #19
I can confirm! One weird thing though, the name of the error class is still `Error`, not `TypeGuardError`

[code]

[2019-04-05 19:08] andykais commented on #19
more reference:
[code]

[2019-04-05 20:15] woutervh- commented on #19
Ah I guess it's one of these weird quirks in JavaScript, you have to give it a name explicitly, I will make a fix for it hopefully tomorrow. 👀

[2019-04-06 20:19] woutervh- commented on #19
Released version `0.10.6` with name set to "TypeGuardError".

[2019-04-07 17:01] andykais commented on #19
I dont think the package was actually published, npm still shows `0.10.5` as the most recent

[2019-04-07 17:04] woutervh- commented on #19
Oops, my bad, should be published now 😵

[2019-04-07 17:07] andykais commented on #19
haha! I can confirm its working. As always, thanks for your work!

[2019-04-07 17:07] #19 closed

[2019-04-10 05:54] rhys-vdw commented on #13
@woutervh- I'm back, and will try this out.

[2019-04-17 21:45] jtremback opened #20 "Why not check classes?"
"This library will not check classes. Instead, you are encouraged to use the native instanceof operator."

Wouldn't it be easy to have this library generate the instanceof code? What's the reason not to?

[2019-04-18 08:03] woutervh- commented on #20
Hi @jtremback

Consider the following two files:

[code]

[code]

When I generate the code I can easily output something like `obj instanceof A` but `A` is not available in runtime. I would have to figure out how to import it (if it can even be imported, think anonymous classes). I don't know a good solution to this problem.

If you can think of something, that would be great :)

[2019-04-22 16:26] andykais commented on #18
If this is helpful, here is an example of the optional chaining syntax written as both a [typescript transformer](https://github.com/rimeto/ts-optchain) and a [babel macro](https://github.com/epeli/babel-plugin-ts-optchain). As far as I can see, there is no code shared between them, but it does still show overlap in their apis.

[2019-04-23 17:23] woutervh- commented on #18
Hi @andykais

Thanks for the links. After some investigation I'm afraid this would be quite a lot of work to get done. As mentioned by @nicolo-ribaudo over in babel/babel#9813, it would require rewriting almost the entire package because the Babel and TypeScript AST are different implementations.

I've glanced at some examples of the Babel AST, and it looks similar to the TypeScript AST, so it wou

[2019-04-23 18:31] woutervh- commented on #11
Hi @FlorianWendelborn

As of version `0.11.0` you can use the option `disallowSuperfluousObjectProperties` to enable the check for additional properties.
See https://github.com/woutervh-/typescript-is#options for more info.

Writing a unit test for this feature is quite difficult so please let me know if it works for you or not.

Thanks!

[2019-04-24 16:42] andykais commented on #18
Fair enough. Maintaining them side-by-side would be a large undertaking. I also have no babel experience, but I may look into this in the future. Up to you if you wish to close this issue now (and/or label it #wontfix)

[2019-05-02 07:47] thorn0 commented on #18
Turns out there is already an attempt to make a Babel macro:
https://github.com/vhfmag/tsguard.macro

Resolving type references seems to be the biggest challenge. Babel doesn't compile TypeScript the same way tsc does. It just removes types without analyzing them, so if we want to understand what `MyType` is in `is<MyType>`, we'll have to do all the resolving ourselves, most probably using the TS

[2019-05-02 16:22] woutervh- commented on #18
Thanks for the info @thorn0. I didn't know about this `tsguard.macro`.
It's interesting that babel does some stuff with the types but doesn't go as far as TypeScript to analyze the types. If we do as you propose, to use TS language services, then it sounds like we'll end up compiling everything using TS anyway, even from the babel macro. I'm not sure what the implications are and I'm dreading to f

[2019-05-02 16:56] thorn0 commented on #18
Not compiling, not checking type correctness, just parsing and resolving symbols. It still might be not very fast, but it also means that your existing code can be partially reused.

[2019-05-02 19:48] woutervh- commented on #18
Good point @thorn0. I think it's worth investigating what TypeScript can do for us there. When I get some time to look into this I'll check it out.

[2019-05-09 20:53] LoganDark opened #21 "TypeGuardError: validation failed at $: validation failed at $: superfluous property 'username' in object"
[code]

Result:

[code]

Ignore the line numbers, I simplified the code for the issue.

Configuration:

[code]

The object does have `username` and `password` keys and they are both strings.

[2019-05-09 20:56] LoganDark commented on #11
@woutervh- close?

[2019-05-10 04:26] LoganDark commented on #20
@woutervh- Export something in that same file which is the `is<>` function, then import that and use it in the other file. That way the class stays private, but your `is<>` function works, everyone is happy

[2019-05-10 07:39] #11 closed

[2019-05-10 07:43] woutervh- commented on #21
Hi @LoganDark

Thanks for reporting the issue. I agree, it is falsely reporting superfluous properties. The reason it fails here is because it's trying to check for superfluous properties on `HasUsername` and `HasPassword` separately while the object should have properties from both interfaces. I will work on a fix, will let you know when I get some progress on it. 👍

[2019-05-10 07:43] LoganDark commented on #21
@woutervh- Thank you for looking into it, please do so soon since my deadline is the 17th

[2019-05-10 14:09] woutervh- commented on #21
Hi @LoganDark

I believe I have a fix. Please check the new version `0.11.1`. Let me know if it works.

🤞

[2019-05-10 14:15] LoganDark commented on #21
[code]

[code]

[2019-05-10 14:16] LoganDark commented on #21
What I would do is build a list of all properties in either interface, and then check against that instead of any one interface. Not sure how your code works, because it looks incredibly complex to me, but it could be worth a try.

[2019-05-10 14:22] woutervh- commented on #20
@LoganDark

Thanks for the suggestion.
Sounds like a plausible work around, but I get the feeling that will open up a can of worms. Just a couple of questions that immediately come to mind:

- Globals: how should I reference a class that has been declared globally, or rather: how should I detect that it was declared globally.
- Import/export style: the user's project might be configured to use Com

[2019-05-11 00:10] LoganDark commented on #21
Any updates? I have a deadline to make.

[2019-05-11 00:16] LoganDark opened #22 "Reject superfluous properties sometimes but not always"
Sometimes I want to verify if an object has a key without rejecting everything else. Sometimes I want to verify an object has a key and nothing else. Configuring this at the transformer level can be too broad.

[2019-05-11 00:26] LoganDark commented on #22
Maybe you should have a `has()` function that works like `is()` but ignores superfluous properties?

[2019-05-12 13:11] woutervh- commented on #21
Hey @LoganDark

Are you sure you're on the latest version? With your types I'm getting correct code. I'm running https://github.com/woutervh-/typescript-is/blob/master/test/issue-21.ts with `"disallowSuperfluousObjectProperties": true` and getting the following code generated:

[code]

Maybe your compiler cached an old version or something?
If you're definitely on version `0.11.1` then can you als

[2019-05-12 13:20] woutervh- commented on #22
Hi @LoganDark

Perhaps the `is` and `assert` family of functions can have additional options to overwrite the setting.
Would that be useful?

E.g.

[code]

[2019-05-12 18:39] LoganDark commented on #22
@woutervh- Putting that in an if statement would be rediculous.

I feel like the `disallowSuperfluousProperties` option should be deprecated, and instead use `is`, which disallows superfluous properties, and `has`, which doesn't. So `assertIs` and `assertHas` would also be a thing. Would that work?

[2019-05-12 19:16] LoganDark commented on #21
Something like that. It works now...

Thank you so much for looking into this!

[2019-05-12 19:16] #21 closed

[2019-05-13 07:16] woutervh- commented on #22
Hi @LoganDark

I like to keep the current `is` as-is (pun intended) for two reasons:

1. If I change the default behavior of existing functions it'll be a breaking change (I will consider it for version `1.0.0`)
2. I like that `is` closely resembles the `is-a` relationship, i.e. `is<Animal>(cat)` means `cat is an animal`. I.e. it follows the "assignability" relationship in TypeScript: `cat is assi

[2019-05-13 07:18] LoganDark commented on #22
@woutervh- maybe instead of `is` and `has` do `equals` and `is` respectively? keep the old behavior for is but add equals

[2019-05-13 07:32] woutervh- commented on #22
@LoganDark
`equals` sounds good, I'll add that in. I'll keep you posted.

[2019-05-13 19:21] mtiller commented on #14
I got this same error when trying to run `jest` tests.  I added the `plugins` section to my `tsconfig.json`, but perhaps `ts-jest` is somehow overriding those settings?!?

[2019-05-13 19:51] ckknight opened #23 "Performance regression in 0.10"
Input:
[code]

typescript-is 0.9 output:
[code]

typescript-is 0.10 output:
[code]

typescript-is 0.11 seems to have the same output as typescript-is 0.10

Especially given that the output of the `isMyEnum` function is just a boolean, this seems extremely wasteful in the 0.10+ versions.

[2019-05-13 20:38] Kingles commented on #23
Here's a jsperf to illustrate this regression -- in v8 this code is ~1100x slower. Likely a good idea to revert this change, given that. Thanks all.

https://jsperf.com/typescript-is-changes-2

[2019-05-15 17:24] andykais opened #24 "[Request] add a changelog"
Hi! I saw that a new version was published just a few days ago, though its hard to say that that release actually changed (though I did my best to dig through the commits). It would be awesome if you started keeping a [CHANGELOG.txt](https://keepachangelog.com/en/1.0.0/) or used [github releases](https://help.github.com/en/articles/creating-releases) for future versions so we can see what new feat

[2019-05-15 19:20] woutervh- commented on #24
Hi @andykais

Indeed it's a good idea. I've never used Github releases, but I like it when other OSS projects use it. I've just been too lazy to figure out how it works :) I guess now is the time to find out.

I'll make sure to created a release log using Github releases with the next release I make, then will close this issue ;)

[2019-05-15 19:30] woutervh- commented on #23
Hi @ckknight @Kingles

It's true that with the new generated the code there is a lot more complexity, becoming bigger in size and slower in run time performance.
The reason for it is so that the `assert` family of functions can have much better error reporting.
I agree that this is unnecessary for the `is` family of functions.

May I ask about your use-case? I'm just wondering if the performance h

[2019-05-15 20:39] woutervh- commented on #22
Hi @LoganDark

I've released version `0.12.0`, updated the read me as well.
Release: https://github.com/woutervh-/typescript-is/releases/tag/v0.12.0

Let me know if it works for you.
Thanks!

[2019-05-15 20:39] woutervh- commented on #24
First try: https://github.com/woutervh-/typescript-is/releases/tag/v0.12.0

[2019-05-15 20:46] LoganDark commented on #22
@woutervh- Thanks, works perfectly!

[2019-05-15 20:46] #22 closed

[2019-05-15 20:47] LoganDark commented on #22
You should also consider adding a second argument for config overrides, but this issue isn't that.

[2019-05-16 07:26] woutervh- commented on #14
Hi @mtiller

I'm not sure how `ts-jest` runs the compiler. Sounds like there should be some configuration in `ts-jest` to enable `ttypescript` or vice versa. Maybe there is some info on these two repos about how to do it.

[2019-05-16 17:07] andykais commented on #24
nice! Some tips if you are interested (follow whatever feels right though!)

Common convention for github releases is to leave the title as the [version](https://github.com/gcanti/io-ts/releases) and give headers to:

### New Features
### Breaking Changes
### Bug fixes

[2019-05-17 20:13] woutervh- commented on #24
Fixed ;)

[2019-05-17 20:26] #24 closed

[2019-05-20 07:44] hernyo commented on #23
@woutervh- Let me join this conversation. We have some use cases when we need to validate 100k+ data members in one step. Note that so far we don't know if the overhead required by validation would make a significant impact - just wanted to let you know that such large datasets are valid requirements in some cases.

[2019-05-20 09:27] woutervh- commented on #23
hi @hernyo

Thanks for the info. I will see if I can make some time for performance improvements for the `is` family of functions ;)

[2019-05-20 10:57] blombern opened #25 "Optional property set to undefined fails validation"
[code]

Is this expected behavior? I thought `a?: string` and `a: string | undefined` were equivalent in TypeScript.

[2019-05-21 09:30] hernyo opened #26 "Usage in linked modules"
When developing a module we often `npm link` it to a parent application for testing. This way we temporarily rely on the parent app's compiler - which has neither `ttypescript`, nor it checks the linked module's `tsconfig` file -> meaning it will not run the transformer and `is<...>` will not be generated. This way it's pretty much impossible to develop using `npm link` unless I'm missing somethin

[2019-05-22 17:17] woutervh- commented on #26
Hi @hernyo

I'm not sure if I understand the set up for the problem. Is it something like this?

[code]

[2019-05-22 17:26] woutervh- commented on #25
Hi @blombern

Yes this is expected behavior. I think it's a bit quirky the way TypeScript deals with optional properties and `undefined`. The reason I chose to make a distinction between the two is because `{}` and `{a: undefined}` are different at run time with respect to operations like `Object.keys` etc.

Also, `a?: string` and `a: string | undefined` are not exactly the same in TypeScript eith

[2019-05-22 17:40] hernyo commented on #26
Yes, almost, just the other way around. Just to make sure we're on the same page:
`~/reusable-ui-component$ npm link`
`~/main-web-app$ npm link reusable-ui-component`
`~/main-web-app$ npm start`

This compiles fine, but does not transform `is<...>(...)` so it will throw a runtime error when calling it.

[2019-05-23 14:40] #25 closed

[2019-05-24 10:28] hernyo commented on #26
Putting some more thought into this, it would be useful if we had a manually ran build step to generate the transformations, save them in a separate file and check them in with the source. And another bonus build step which makes sure the previously generated transformation files match the current interfaces - this could be simple, just generate the file contents again and compare with the existin

[2019-05-24 19:07] woutervh- commented on #26
Hi @hernyo

So if I understand correctly, you are importing TypeScript files directly from `reusable-ui-component` into `main-web-app`? Because in that case you have two options:

- You can set up TypeScript with `tsconfig` and `ttypescript` configured to transform the files, or
- you can compile the TypeScript source files in `reusable-ui-component` and export the `.js` and `.d.ts` files which ca

[2019-05-29 07:29] hernyo commented on #26
Normally we're not importing the TS code directly. The module's build script compiles it and we publish the compiled code - so normally we're fine.

However, while we're developing/debugging `reusable-component`, we use `npm link` to link the component to the main app - and this is the situation when we import the TS code directly. Workaround could be temporarily commenting that line of code (uh..

[2019-05-31 23:43] GM-Alex opened #27 "ignoreMethods has now effect"
Using ignoreMethods has no effect for the following data

[code]

validate against the following interface

[code]

by using `assertEquals<ITest>(test)`. This results in `TypeGuardError: validation failed at $.list.data.id: there are no valid alternatives`. The following data results in `TypeGuardError: validation failed at $.list.convert: expected an object`

[code]

Using

[code]

works as expec

[2019-06-02 14:42] woutervh- commented on #27
Hi @GM-Alex

The correct syntax for methods is the following:

[code]

The syntax you have used declares an object property where the value is a lambda function.
However I see your point and it makes sense to also ignore functions.
I will work on a fix for this when I get some time to work on it.

[2019-06-02 14:46] woutervh- commented on #26
Hi @hernyo

I think it will take me quite a while to get the feature described in #7 to work.
As a work around solution I would suggest to do one of the following:

- Enable the transformer in any project that needs to compile TypeScript code with functions from `typescript-is`
- Compile the source code with functions from `typescript-is` and import the compiled JS and type definitions.

I will po

[2019-06-02 22:06] GM-Alex commented on #27
Hi @woutervh-,

thanks for your feedback. I made a PR that should also include lambda functions if the ignore flag is set.

[2019-06-03 06:04] hernyo commented on #26
Hi @woutervh-

last week I've put some thought into how this could work for us. The basic idea was to have a script which precompiles the `is<...>` calls so the compiled code can be checked in to the source and then integrate another script in the build to make sure the interfaces hasn't changed since the files were compiled last time.

Ended up with this:
- wrap the required `is<...>` calls into

[2019-06-03 14:26] woutervh- commented on #27
Thanks for the PR @GM-Alex 🎉

I will check it out when I get home.

[2019-06-03 18:29] woutervh- commented on #26
Sounds like quite a lot of effort. I'm wondering though: if you're going through these steps to get some specific code compiled and used by the main web app, wouldn't it be just as easy (easier?) to compile the whole project and then import the compiled code into the main web app altogether?

[2019-06-03 19:02] hernyo commented on #26
Agreed, it's a lot of effort, especially knowing that the compiled / published module actually works without these steps - only the `npm link`'ed module won't work.

Note that it's not the main web app which would use the compiled validator code: it's the `reusable-component` itself. However we cannot develop the `reusable-component` as it is, it needs to be embedded in a host app during developme

[2019-06-03 19:19] hernyo commented on #26
To be more specific, precompiling the validators does not sound like a problem to me. It's just the solution I described is way too complicated (exclude files from build, then build them to a temp folder, copy, compare, etc...)

[2019-06-04 20:15] woutervh- commented on #27
Released version `0.12.1`:
https://github.com/woutervh-/typescript-is/releases/tag/v0.12.1

[2019-06-10 07:41] #27 closed

[2019-07-04 09:47] 0xorial commented on #13
Just as a small user feedback - I was recently trying to add checks to my angular project and approach from ts-auto-guard was A LOT easier to integrate (I am working on an angular app).

[2019-07-11 07:56] zdila opened #29 "Problem with Date"
[code]

This causes:

[code]

[2019-07-12 02:34] rhys-vdw commented on #13
@0xorial oh really? That's interesting to hear. I've just put this on ice entirely because I'm using it to surface errors in our test suite and there are so many that it's turned into a multi-month process to get CI up and running on the branch haha.

[2019-07-15 14:07] woutervh- commented on #5
Also see https://github.com/woutervh-/typescript-is/issues/16

[2019-07-15 14:08] woutervh- commented on #29
hi @zdila
Indeed classes and methods cannot be checked.
If, for some reason, you can't avoid classes or methods in your types, you can check out the options added from this issue:
https://github.com/woutervh-/typescript-is/issues/16
or here: https://github.com/woutervh-/typescript-is#options

[2019-07-15 14:14] zdila commented on #29
Hi @woutervh-,

I've tried `ignoreClasses` but got the same error. Still I think it would be nice to support at least JS built-in objects (like `Date`, `RegExp`, `Set`, `Map`, ...).

What do you think?

[2019-07-15 20:48] woutervh- commented on #29
Hi @zdila
Actually when you take a look at the Typescript definition of Date, you'll see it's an interface with methods (yeh, don't ask, it's strange 😵). So to get around `Date` you would need to use `ignoreMethods`.
I will consider supporting popular built-in classes like `Date` and `RegExp`. If it turns out to be easy to support them I will do that.
Will update you when I look into it.

[2019-07-29 21:45] zackify opened #30 "Usage without ttypescript?"
Is there a way to manually run a transform and import the transformed code for this library? I'm using create-react-app and don't want to eject in order to change my webpack loaders

[2019-08-02 13:14] woutervh- commented on #30
Hi @zackify

Yes, it's technically possible to do this without `ttypescript`, but it can be cumbersome.
The transformer is exported here:
https://github.com/woutervh-/typescript-is/blob/master/src/transform-inline/transformer.ts
You may import it and use it however you wish.

One example of how this is used is in the `debug.ts` file:
https://github.com/woutervh-/typescript-is/blob/master/debug/deb

[2019-08-02 13:15] woutervh- commented on #29
Closing for house keeping.

[2019-08-02 13:15] #29 closed

[2019-08-02 13:16] woutervh- commented on #20
Closing for house keeping.

[2019-08-02 13:17] woutervh- commented on #18
I don't think this will happen in the foreseeable future. I will close this for house-keeping.

[2019-08-02 13:45] woutervh- commented on #20
Re-opening for discussion.

Hi @LoganDark

Maybe it could work in some cases... can you show in code how you would do this?
I can also think of some cases where it would be (almost?) impossible. For example:

[code]

Maybe the better trade-off is to assume that the name of the class is available within the scope of the call to `is` as-is, and treat this as a requirement of the contract of `is`.
E.

[2019-08-02 13:50] LoganDark commented on #20
That first code block is some of the most confusing and nonsensical code I've ever seen in a serious context. Are you sure that people actually do that?

But, uh... TypeScript generates temporary variables all the time. Of course it would make sense to auto-generate variables for every argument/whatever to stop it from getting reevaluated tons of times. So, I dunno.

`is<typeof y>(y)` could go som

[2019-08-02 14:00] LoganDark commented on #20
By the way, that's not _exactly_ what was intended... I think my original post was a bit weird, but...

[code]

This is what I mean.

Optionally:

[code]

however, this would break many many things, especially since you can't infer which types to generate instanceof checks for without the function being called immediately (therefore making it impossible for the programmer to say, for example, `che

[2019-08-02 17:13] woutervh- commented on #20
Hi @LoganDark

The point I was trying to make with `is<typeof y>(y)` is that `y` could be replaced with anything (but should return `true` in case it is `y`). And even if it's a programmer error, it can (will) still happen, so it should be accounted for. Maybe this clarifies the problem even better:

[code]

The idea of putting `typeof y` into a variable is interesting in the case of `is<typeof y>

[2019-08-02 17:20] LoganDark commented on #20
Your first code block is still trivially solvable by putting `typeof y` in a variable... I STRONGLY prefer this to passing arguments to the function at runtime, because verifying this at runtime will be impossible. You'd have to verify the runtime arguments at compile time like TypeScript does with everything else, and even change the function generated based on those arguments. All around I reall

[2019-08-21 23:35] sarah-buhler commented on #23
Hi, any chance this has been addressed? I checked through the release notes but didn't see anything mentioning it.

Thank you!

[2019-08-26 17:53] woutervh- commented on #30
Closing for house keeping.

[2019-08-26 17:53] #30 closed

[2019-08-26 17:54] woutervh- commented on #23
Hi @sarah-buhler

Unfortunately I haven't had the time yet to work on this, as it will take quite some time to complete.
Does this have a big impact on your project? If so, I'll consider it higher on the list of things to do.

[2019-08-26 22:07] sarah-buhler opened #31 "Unable to use `Date` type in interfaces that will be validated"
While using this library I have run into an issue where any interface I would like to be validated cannot hold any properties that hold a `Date` type. I have both `"ignoreClasses": true` and `"ignoreMethods": true` in my `tsconfig.json`. This problem occurs at run time, as validations with `Date` types fail every time, though it compiles just fine.

Glancing through the generated code, it seems a

[2019-08-27 07:32] woutervh- commented on #31
Hi @sarah-buhler

Thanks for the detailed report. Classes (especially Date and RegExp) have been a thorn in my side for this project. The typical use case for `typescript-is` is that can be used as part of some deserialization process. Often people are using it on object that also have classes for example in your situation. Classes can't (easily) be checked as of right now (see discussion #20).

W

[2019-08-27 08:34] woutervh- commented on #31
hi @sarah-buhler

I have made an attempt at detecting classes such as `Date` and `RegExp` better.
Please try it:
https://github.com/woutervh-/typescript-is/releases/tag/v0.12.3

[2019-08-27 14:40] #31 closed, assigned to nobody

[2019-08-31 23:21] ArthurClemens opened #32 "Generic assertType results in "Unbound type parameter, missing type node.""
This is a similar issue to #4. In my case I am getting the error when trying to use `assertType<T>(data)`

[code]

[2019-09-02 19:51] woutervh- commented on #32
Hi @ArthurClemens

In this case it is intended behavior.

The type that is being checked must be a real type, not a type parameter that is not bound to anything, at the call site of the `assertType` function.

This is the relevant part in the Readme:
https://github.com/woutervh-/typescript-is/blob/master/README.md#-what-it-wont-do

It is different from #4 because that issue is about a type with pa

[2019-09-02 20:03] ArthurClemens commented on #32
Thanks for the clarification.

[2019-09-02 20:03] #32 closed

[2019-09-03 07:14] zdila opened #33 "Add option to work in transpiled source"
For much faster development we use `transpileOnly` option and do typechecking in different background thread. Unfortunately this library fails with this option (see #14).

It would be great to add an option to skip type checking in such a case. Then `assertType` would never throw, `is` would always return `true`, etc.

We could achieve this by hacking `typescript-is/index.js`:
[code]

I hope you u

[2019-09-03 16:30] woutervh- commented on #33
Hi @zdila,

In the options there is `shortCircuit` which does what you're looking for: it will always return true and never throw an error.

 https://github.com/woutervh-/typescript-is/blob/master/README.md#options

Is this sufficient for your situation?

I have seen your PR, but I'm on holiday until the 15th of September, so I can't do any review until then.

Thanks!

[2019-09-03 16:50] zdila commented on #33
Thanks for the info. I've overlooked `shortCircuit` option but it still causes `This module should not be used in runtime. Instead, use a transformer during compilation.` error for transpiled source.

[2019-09-03 18:38] woutervh- commented on #33
Hi @zdila,

Right, I forgot the `shortCircuit` option will only work if the transformer is actually used. I'm afraid I'll have to look into this when I'm back from my holiday then.

Thanks for your patience.

[2019-09-23 19:10] woutervh- commented on #33
Release as `v0.12.5`

https://github.com/woutervh-/typescript-is/releases/tag/v0.12.5

[2019-09-25 08:59] matAtWork opened #35 "Fails to transform on empty tuples"
Sample :
[code]

If you comment out the final line, all is good, if you don't you get (at compile time):
[code]

Awesome project BTW.

[2019-09-26 07:53] woutervh- commented on #35
Hi @matAtWork

Thanks for the report, nice find! I will get a fix ready and let you know about a the release.

[2019-09-26 08:04] woutervh- commented on #35
Fixed:
https://github.com/woutervh-/typescript-is/releases/tag/v0.12.6

Regression test:
https://github.com/woutervh-/typescript-is/blob/master/test/issue-35.ts

[2019-09-26 15:51] #35 closed

[2019-10-05 23:19] kneczaj opened #36 "Possibility to use with react-scripts"
Hello!

I use react-scripts to set up my react project. It would be nice to use typescript-is with it without "ejecting". For the first trial I have added the `plugins` section in my `tsconfig.json`.

Unfortunately, I've got this error:
[code]

Do you have any information what to do when I want to use it with react-scripts?

[2019-10-06 07:39] #33 closed

[2019-10-06 07:47] woutervh- commented on #36
hi @kneczaj

The problem is caused because the project is compiled with the regular `typescript` compiler.
For the transformation to take place, you need to compile the project with `ttypescript` (or set up your own compile scripts).

I'm not too familiar with `react-scripts` but I think other people have had similar issues.

In issue #33 someone had a similar problem and it was solved by avoiding

[2019-10-08 07:45] matAtWork commented on #35
Thanks for the fix - I'll update our project and let you know if anything else is amiss

[2019-10-09 15:03] TSiege opened #37 "Using types in interfaces/complex types throws a Class error"
I'm trying to use `typescript-is` to provide runtime validation for a library that manipulates a custom AST that is serialized/deserialized from well structured JSON. I've written out the type definition using only interfaces and a few basic types. When trying to compile it throws the following error
[code]
Here are the type definitions
[code]
The interesting thing is that if I make the Mobiledoc_

[2019-10-09 15:16] woutervh- commented on #37
Hi @TSiege

Arrays should work just fine so I suspect there is something going wrong. I will check it out and see what is causing and and fix the bug. Thanks for reporting!

[2019-10-11 09:10] woutervh- commented on #37
Hi @TSiege

I have released version `0.13.0`: https://github.com/woutervh-/typescript-is/releases/tag/v0.13.0
This version will correctly identify arrays as non-classes even when using TypeScript 3.0.

Let me know if there are other issues.

[2019-10-11 09:13] woutervh- commented on #26
Closing for housekeeping.

[2019-10-11 09:13] #26 closed

[2019-10-11 09:13] woutervh- commented on #36
Closing for housekeeping.

[2019-10-11 09:13] #36 closed

[2019-10-14 16:26] TSiege commented on #37
Yup, this resolved the issue. Thanks for fixing!

[2019-10-14 16:26] #37 closed

[2019-10-30 20:42] mtiller commented on #14
I ran into this issue again.  I found that if I added:

[code]

...to my `jest.config.js` file, the issue went away.

[2019-10-30 22:00] andykais opened #39 "Feature: function argument specific error messages"
This may be getting into the territory of custom error reporting ([io-ts#error-reporting](https://github.com/gcanti/io-ts#error-reporters) for example). But it could also just be a special assertion generator. The idea is that I would like to validate a function's parameters. `typescript-is` provides all the validation I need to make that happen, but the errors it gives back are not as helpful to

[2019-10-30 22:13] andykais commented on #39
I dont believe I have a way to iterate over args in a array type generically, so I dont believe this is something I can build outside this library :crying_cat_face:. This is about as far as I got:
[code]
I can still write a non-generic solution to the problem though, where I hardcode a validator for each parameter of the function I want validated.

[2019-11-04 14:11] mtiller opened #40 "JSON Schema generation?"
In addition to the current functionality, it would be very nice to have JSON schema generation as part of the transform.  This would provide a means of communicating types to other non-typescript systems.  For example, the ability to perform client side validation of data by pushing out JSON schema to the clients so they could do their own local validation prior to submitting data to an HTTP API,

[2019-11-05 14:05] woutervh- commented on #40
Hi @mtiller

Indeed it's a nice way to generate JSON schema consistent with your TypeScript interfaces.
There are already some projects out there that can do this:
- https://github.com/YousefED/typescript-json-schema
- https://github.com/lbovet/typson
- https://github.com/vega/ts-json-schema-generator

Hope this helps :)

[2019-11-05 14:15] woutervh- commented on #39
Hi @andykais,

As I understand it you want to give some custom error message based on the reason the validation failed.
The current error messages are not sufficient information for you.

The problem with error message in your situation is that the way the type is used is unknown to `typescript-is`:

[code]

It would be difficult for `typescript-is` to find out if the type argument comes from a fu

[2019-11-07 01:27] sparebytes commented on #40
Inspired by this project, I wrote my own transformation plugin that actually generates JSON schema and passes it through AJV for validation. It doesn't emit separate json files but emits it into the javascript. One caveat is that right now each validation function has a full-blown copy of the schema needed. EG if you have validation functions for both `interface Animal` and `interface Cat extends

[2019-11-07 08:51] woutervh- commented on #40
Sounds useful. Thanks for sharing!

[2019-11-17 11:56] dko-slapdash opened #41 "Feature request: support .enforce<SomeType>() syntax"
Hi.

Currently, to wrap some async request call with the library, one has to write:

[code]

It doesn’t look nice:
1. Too many nested parens.
2. The response shape goes before the request shape which is counter-intuitive.

A way better syntax would be:

[code]

(This is how Prettier would format it.)

Is it possible to implement this .postfix-like syntax in the transformer?

Notice 3 things here:

[2019-11-19 10:35] woutervh- commented on #41
Hi @dko-slapdash

Using promises is something on the road map: https://github.com/woutervh-/typescript-is#%EF%B8%8F-road-map

However in your situation you could also try using `createAssertType<T>()`:

[code]

Is this acceptable?

[2019-11-19 10:37] woutervh- commented on #40
Closing for housekeeping.

[2019-11-19 10:37] #40 closed

[2019-11-19 11:28] dko-slapdash commented on #41
Interesting, thanks! Of course in terms of syntax cleaniness,

[code]

looks more special-character-swamped than

[code]

(the last removes `then(` and `)`) - but I think you're right, it's not too critical.

[2019-11-29 13:01] matAtWork opened #42 "NestedException on transforming a type"
**_It might be easier to read from the bottom as I simplified and narrowed down the source of the error over time_**

I get the following exception having updated a type. The update is non-trivial, and I've been unable (so far) to pin down the exact cause, but here's the jist of what the type is.

It represents a set of jobs, each of which is an async function with either parameters in an array vi

[2019-11-29 13:21] matAtWork commented on #42
I had a go at digging around in the transformer, and I think it may be one of those cases where the generic type parameters mean it can't resolve something to generate a concrete check. This is true (probably) for some of the intermediate types before the `export Jobs`, but not for the entity as a whole - when considered from the PoV of the export, nothing is "variable" or external about the type.

[2019-11-29 13:30] matAtWork commented on #42
If I collapse the whole type graph down, and in particular use `Parameters` at the top rather than repeatedly referring to it in `JobSpec`, I get the same error referring to type `J` rather than `Parameters`.

The new defn is:
[code]

[code]

[2019-11-29 13:37] matAtWork commented on #42
....and if I take out all the generics from the type, except those used for `Parameters` (which), like this:

[code]
...I get a similar trace:
[code]

[2019-11-29 13:56] matAtWork commented on #42
Ok, some progress. If I manually flatten out the references to `Parameters`, so I end up with the type:
[code]
...it transforms without error (although the app complains as the type is no incorrect).

When I comment the ` | { params: [P] }` back in, it fails with:
[code]
....which is quite a different error

[2019-11-29 16:41] matAtWork commented on #42
I've been playing with this on and off during the afternoon.

This one transforms:
[code]
....and this one doesn't:
[code]
The only difference is the name `param` or `params` in the final conditional clause. Repeating the name seems to upset the transformer. Note that TS itself is fine with all these examples

The error case is:
[code]

[2019-11-29 16:51] matAtWork commented on #42
....and one final one before I give in today:
[code]
....this is much closer to the origin decl which worked (`params` was simply a union of the `Parameter` tuples for each possible function). So maybe the common theme is the use of `ValidJobs[jobName]`?

[2019-12-03 18:40] matAtWork opened #43 "Incorrect transform for optional parameters"
The length check for a Parameter list tuple is too strict in the case of optional parameters (or in fact any array where the final element(s) can validly be undefined).

Here's a case to reproduce the issue:
[code]
The second assert (incorrectly) fails: element [1] of the array is indeed `undefined`.

In the generated output (below) there is an inappropriate test for Array.length===2.
[code]
Outpu

[2019-12-04 08:23] woutervh- commented on #42
Hi @matAtWork

The error "unsupported type with flags: 16777216" is due to the conditional type.
typescript-is does not support conditional types at the moment.
Usually, however, the TypeScript compiler evaluates conditional types, and simplifies them to the type they evaluate to.
I'm not sure why it does not do that in this case, I'll have to investigate that.

I think supporting conditional type

[2019-12-04 08:26] woutervh- commented on #43
Hi @matAtWork,

Nice find! I will look into this. Hopefully come up with a fix soon.

[2019-12-04 12:58] woutervh- commented on #43
Released fix as version `0.13.1` https://github.com/woutervh-/typescript-is/releases/tag/v0.13.1

[2019-12-04 14:07] woutervh- commented on #42
By replacing `ValidJobs[jobName] extends (...args: infer P) => any ? P : undefined` with `Parameters<ValidJobs[jobName]>` I managed to get it to work. Is this what you also tried in #43? :)

[2019-12-04 14:42] matAtWork commented on #43
Fantastic. I'll update and confirm it works in our code base

[2019-12-04 15:48] matAtWork commented on #43
Looks good to me. Thanks.

I'll have another look at #42 and provide more feedback

[2019-12-04 15:48] #43 closed

[2019-12-20 02:00] brettz9 opened #44 "Obtaining type info as JSON at runtime"
Hi,

I have the following use case, and it seems your project does something pretty close, so was wondering if you might want to add it.

I've been working with the helpful CLI argument processing utility [`command-line-args`](https://github.com/75lb/command-line-args), but found it redundant to have to define what is basically a schema of definitions and then represent that same schema all over a

[2019-12-26 17:29] mvcbox opened #45 "Problem with optional properties"
Hello!
I noticed some peculiarity when working with optional properties.
For example:
[code]
This code is quite valid and can be compiled without any problems.

Example with assertType:
For example:
[code]
In this case, I will get the error:
[code]

[2019-12-26 21:17] mvcbox commented on #45
@woutervh- Can you check it please?

[2019-12-30 14:33] woutervh- commented on #45
hi @mvcbox

This is by design. Please see #25 for more info ;)

[2019-12-30 15:06] mvcbox commented on #45
@woutervh- ,  okay(
Thank for answer

[2020-01-02 08:15] ArashMotamedi opened #46 "`is` and `createIs` should error on excess properties"
Is there a way to `is` or `createIs` that errors on excess properties?

[code]

Use case: API server receives POST message with payload in the body, performs check to make sure payload conforms to expected schema, writes object to Cosmos DB (or other no-sql Document DB). Goal would be to 1. make sure payload has the properties that the interface expects, AND 2. payload **does not** have any other/

[2020-01-02 10:06] #45 closed

[2020-01-02 10:14] woutervh- commented on #44
Hi @brettz9

A similar question was asked in #40. This question is different, but maybe you'll find the answer there useful.

At the moment I consider generating run-time type information out-of-scope. I would really like to see this from the core `typescript` package. Having such a system would make `typescript-is` way easier to implement.

I think it's possible to do what you want with transform

[2020-01-02 10:15] woutervh- commented on #46
Hi @ArashMotamedi

Yes, this is possible.
Please check the `disallowSuperfluousObjectProperties` configuration option in the options (https://github.com/woutervh-/typescript-is#options)

[2020-01-02 10:59] ArashMotamedi commented on #46
Excellent! Thank you @woutervh- Sorry I didn’t read the documentation fully.

This solves my problem, so I’ll close the issue. But I do want to make a suggestion: how about adding an optional parameter to is and createIs methods to specify options on a case by case basis (in addition to the global configuration)?

Something like:

[code]

[2020-01-02 11:26] #44 closed

[2020-01-02 18:46] #46 closed

[2020-01-03 09:11] woutervh- commented on #46
Hi @ArashMotamedi

Actually the functions you mention exist already as well :) https://github.com/woutervh-/typescript-is#strict-equality-equals-createequals-assertequals-createassertequals

Sorry, I forgot to mention it earlier!

[2020-01-05 21:12] cartolari opened #47 "Support TypeScript 3.7 Assertions"
TypeScript 3.7 introduces the assert keyword https://github.com/microsoft/TypeScript/pull/32695, it allows code to be written this way:
[code]
instead of this:
[code]
It'd be good if the library provided support for it, maybe using a new function if backwards compatibility is required.

[2020-01-06 17:54] woutervh- commented on #47
Hi @cartolari

This is a great idea. I will add this. The only worry I have is backwards compatibility in the type definitions (`index.d.ts`. If someone is using an older version of TypeScript, then I don't know what the compiler will do when it finds the `assert` syntax. I might have to keep two versions in parallel while people migrate.

[2020-01-06 20:13] yanshiyason commented on #14
@mtiller Thank you for sharing!!

[2020-01-20 22:00] xogeny opened #48 "Runtime issues when used with Jest"
I've made the changes to `jest.config.js` to use `ttypescript` and I've modified my `tsconfig.json` to use `typescript-is/lib/transform-inline/transformer` as a transform plugin.  I can compile everything fine.  But when I try to use Jest, I get:

[code]

I've created a repo that reproduces the issue here:

https://github.com/xogeny/siren-types

Be sure to use the **`ttypescript`** branch.

[2020-01-22 22:26] woutervh- commented on #48
Hi @xogeny

Unfortunately I don't use Jest so I don't really know how to configure it.
Maybe the people over in #14 know more that can help you...
All I can say is that somehow the compiler is not `ttypescript` or `ttypescript` is not enabling the `typescript-is` transformer.

I will have a glance at your repo to see if I can spot anything...

[2020-02-10 08:26] #41 closed

[2020-02-10 12:29] woutervh- commented on #39
Hi @andykais

It took a while but I finally made some time to work on this.
I've release `v0.14.1` for this.
It will now support getting `path: string[]` and `reason: Reason` properties from the error that is thrown.
You can read about it here as well: https://github.com/woutervh-/typescript-is/releases/tag/v0.14.0

Example:

[code]

For all possible values for `error.reason` you can check: https:

[2020-02-10 12:30] woutervh- commented on #48
Closing for housekeeping purposes.

[2020-02-10 12:30] #48 closed

[2020-02-10 12:31] woutervh- commented on #42
Closing for housekeeping.

[2020-02-10 12:31] #42 closed

[2020-02-10 20:12] andykais commented on #39
Thats awesome @woutervh-! This is going to make building pretty error messages a lot easier now (I had briefly messed around with error strings to get what I wanted). I'm going to close this issue since my problem is solved. Thanks again for this awesome library!

[2020-02-10 20:12] #39 closed

[2020-02-17 23:00] AndyBarron opened #49 "Incorrect behavior for nullable properties with strictNullChecks disabled"
When `strictNullChecks` is set to `false`, nullable properties are not allowed to be null. I suspect this is related to the TypeScript compiler transforming `string | null` to `string` in this mode. A potential fix could be allowing `null`/`undefined` for all types within `typescript-is` if it detects `strictNullChecks` are disabled?
[code]

[2020-02-19 09:42] ChrisKitching commented on #23
Just to add: a major use-case for `typescript-is` is when you're running a server and you want to verify that a user-submitted request object is valid. This library is awesome for that, because it saves having to write lots of tedious validation code.

Since the validation is occurring on the hot path (for every request!), there is value in it being fast.

It would be very neat if there was an tra

[2020-02-21 09:49] woutervh- commented on #49
Hi @AndyBarron

Interesting situation. I will try to find out if I can change the behavior of the type guards when `strictNullChecks` is false.

[2020-02-29 08:55] SteMab opened #50 "Methods are not ignored in mapped types (maked with keyof syntax)"
Since at the moment typescript-is does not support using `is<T>()` when T is a class, I have used a mapped type as this:

[code]

but typescript-is does not check properly MappedType and throws a error, though the flag "ignoreMethods" is true: it not ignore the method, but expect the property contains an object:

[code]

error log:

[2020-02-29 20:22] benwiley4000 commented on #18
@woutervh- I'd love for this to happen. Could the issue be reopened? :) I'd maybe be able to contribute if I could get any pointers. I would suggest taking a look at the source code for the [Babel typescript transform](https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-typescript/src/index.js) which inherits the TypeScript syntax plugin, i.e. it works on an AST which alread

[2020-03-02 09:38] woutervh- commented on #18
hi @benwiley4000

The transform function in `typescript-is` may seem short if you're only looking at the file `src/transform-inline/transform-node.ts`, but if you look at visitors that are invoked by the transformer (all the files in `src/transform-inline` starting with `visitor`), there is quite a lot of code there.
All this code is tightly coupled with the TypeScript compiler and type checker AP

[2020-03-02 09:54] woutervh- commented on #50
Hi @SteMab

There are two things going on that are causing the issue:

1. When you write `type MappedType = { [P in keyof MyClass]: MyClass[P]; }`, TypeScript does not keep `method` as an actual method. Instead, it becomes a regular object property with a function type. You can see this if you inspect the type `MappedType`, it will have the property `method` as a function: `method: () => string`.

[2020-03-02 11:29] Pikuseru opened #51 "Question - regexes on strings...?"
Hi there, been playing about with this library and I think it looks really good - especially as a way of defining contracts for messages between client / server.

This is probably out of scope but I thought I'd ask - it might be useful to have a way of specifying regexes on strings.

I'm not sure how that would look or work though, some custom comment syntax or decorator?

[2020-03-02 11:51] woutervh- commented on #51
Hi @Pikuseru

Indeed I would consider regex contracts out of scope for this library.
This library is just there for type checking.
What happens with the actual data of those types (strings) is not something I want to include in this library.

However I like the idea of defining a contract for APIs with regex validation included, so if you find such a project or decide to make one I'd like to hear

[2020-03-02 12:57] Pikuseru commented on #51
Okay @woutervh- - no problem - thankyou 😂 👍

[2020-03-02 12:57] #51 closed

[2020-03-02 21:01] hmil commented on #13
@0xorial Did you say that because angular's build system is so obscure and integrating a build-time transformer [involves 3rd party build tools and hacking into private members of the angular toolchain](https://medium.com/joolsoftware/custom-typescript-transformers-with-angular-cli-7f4150797e05)?

[2020-03-03 04:51] timse opened #52 "Allow at least typeof/instanceof checks for basic methods/functions"
I know you mentioned before that this strives to only work for serializable data.

However, 😏 would it be possible, happily hidden behind an options flag, to not simply ignore methods/functions but to allow at least a simple type check of sorts, to at least make the minimal guarantee that the provided value is actually a function and not e.g. a number?

[2020-03-03 09:23] SteMab commented on #50
@woutervh- Thank you for your kind reply which clarified the point.
I can't use instanceof because I'm writing an http firebase function and the object to check was been serialized.

An option ignoreFunctions would be useful, in my opinion (but I'm not familiar with typescript and prototype-based programming).

[2020-03-05 00:54] hmil commented on #20
Hi there,

Would you be open to reconsider this entire argument from scratch?

tl;dr: Just have `is<ClassType>` behave exactly like `is<InterfaceType>` and forget about `instanceof` altogether.

---

I think you've got the concept of `class type` and `class constructor` mixed up here.

In this expression, `Foo` is the constructor of the Foo class:
[code]

In this expression however, `Foo` is a typ

[2020-03-06 18:56] woutervh- commented on #49
Hi @AndyBarron

I have attempted a fix for this problem.
https://github.com/woutervh-/typescript-is/releases/tag/v0.14.2

Please try this version `0.14.2` and let me know if it works :)

[2020-03-06 19:15] andykais opened #54 "document how to use typescript-is without ttypescript"
In my project I use webpack and I am able to use typescript-is without the ttypescript dependency. `ts-loader` has the ability to pass transformers directly into it. The following is enough to get typescript-is validators up and running.

[code]

Just a thought if you want to drop it into your readme

[2020-03-06 20:11] woutervh- commented on #27
FYI in the latest version `ignoreMethods` will really only ignore methods.
To ignore functions, even in objects, use the new `ignoreFunctions`.

https://github.com/woutervh-/typescript-is/releases/tag/v0.14.3

[2020-03-06 20:11] woutervh- commented on #50
Hi @SteMab

I've added the option `ignoreFunctions`:
https://github.com/woutervh-/typescript-is/releases/tag/v0.14.3
https://github.com/woutervh-/typescript-is#options

Let me know if this helps :)

[2020-03-06 20:14] woutervh- commented on #52
Hi @timse

Yes, it's possible to add a check for methods and function, for example to generate `typeof X === 'function'`.
May I know more about your use case? I'm wondering if many people need this functionality or not.

[2020-03-06 20:15] woutervh- commented on #54
Neat, I didn't know this :) Thanks, I will update the documentation.

[2020-03-06 20:22] woutervh- commented on #54
I've added it here:
https://github.com/woutervh-/typescript-is#using-with-webpack--ts-loader-without-ttypescript

It will land on `npm` on the next release.

[2020-03-06 20:30] andykais commented on #54
awesome! I appreciate the shoutout

but dont feel like you have to, all coding is the art of `s/stealing/borrowing` ideas from others 😄. Also, another library has similar docs if you wanted a reference https://github.com/awerlogus/io-ts-transformer#webpack-with-ts-loader-or-awesome-typescript-loader.

Im going to close this issue since my concern is addressed. Thanks again!

[2020-03-06 20:30] #54 closed

[2020-03-06 20:36] woutervh- commented on #20
Hi @hmil

I think the suggestion you propose to treat it the same as an interface, and not bother with `instanceof`, is good.

What do you think of these options?
1. Only enable this through an option,
2. Enable it by default.
2. Enable it by default, but give a warning in the compiler output.

[2020-03-06 20:40] woutervh- commented on #54
Oh wow, this `io-ts-transformer` looks promising too :) I think I will add a list of similar projects to the README as well

[2020-03-07 00:52] hmil commented on #20
Either option 2 or 3 seem good to me. Or maybe 3, but give an option to turn off the warning for people who "know what they're doing".

One major use case I did not cite in my message above is that Java devs coming to TypeScript will tend to use classes as DTOs (because they're used to POJOs). This situation seem to happen quite often, at least in my experience.

Obviously it'd be great if other p

[2020-03-11 19:49] AndyBarron commented on #49
@woutervh- totally works!!! thanks so much for this, you're awesome 💪

[2020-03-11 19:49] #49 closed

[2020-03-16 10:38] SteMab commented on #50
The new option `ignoreFunctions` has solved my problem. Thanks so much

[2020-03-18 10:46] #50 closed

[2020-04-04 08:24] joshAg commented on #47
We're just starting to use the library to validate what we pull out of the database or redis matches what we expect to get. Right now we've been dropping it into our lowest level wrappers like

[code]

It wouldn't be too hard to switch over to to the newer style. We'd probably prefer it because we try to stay no more than 1 version off of the newest minor typescript release.

[2020-04-04 11:11] woutervh- commented on #47
Hi @joshAg

Thanks for sharing your situation. It helps me gauge the need for assert signatures.

One thing that still concerns me is that people who are sticking with older versions of TS will probably run into compiler errors with the new syntax.

Maybe one solution is to keep two versions of typescript-is in parallel, one with assert syntax and one without? At some point in the future however I

[2020-04-04 20:29] joshAg commented on #47
I don't have a lot of experience as well, but at least for commercial/internal projects, for a breaking change, we've done it in two steps of the major version.

The first step will deprecate the older usage but keep functionality at least at par with the previous version. It's usually not worth the hassle to add functionality/features to match the new usage, nor is it worth it to remove functiona

[2020-04-09 05:55] bergkvist commented on #14
I'm still getting this error running `npm start`
[code]

My package.json:

[code]

My tsconfig.json:

[code]

[2020-04-10 09:13] dko-slapdash opened #56 "More detailed error message for "Xyz | null" cases (not just "there are no valid alternatives")"
Adding `| null` alternative significantly degrades verboseness of the error message.

Example:
[code]

Notice that it doesn't mention the name of the mis-typed field ("closed"), so it's pretty hard to debug, what's the problem (especially when there is a lot of fields).

If I remove `| null` clause, it starts showing the field name:

[code]

Is it (at least theoretically) possible to improve error

[2020-04-10 09:20] dko-slapdash opened #57 "Accessing the source data in TypeGuardError"
TypeGuardError forms a nice error message, but the data which failed validation is not part of this error. I.e. I can catch & print "TypeGuardError: validation failed at ...", but I can't print "TypeGuardError: validation failed at ..., input data was: ..." down the stack.

Is it possible to add a field to TypeGuardError which holds the actual data failed validation? This would be super useful for

[2020-04-10 09:37] dko-slapdash opened #58 "ttsc --watch does not emit type validators"
Having the following code:

[code]

When running `yarn ttsc --watch` and making changes in this file, here is the compiled result:

![image](https://user-images.githubusercontent.com/46383452/78981040-ef516b00-7ad3-11ea-81a7-c41b2aaef8ff.png)

But if I run `yarn ttsc`, then the compiled result becomes correct:

![image](https://user-images.githubusercontent.com/46383452/78981133-20ca3680-7ad4-11ea

[2020-04-10 09:45] dko-slapdash commented on #58
Oh, sorry, that's my bad - I did not restart `ttsc watch` after adding
[code]
to tsconfig.json. After restarting, it works as expected.

[2020-04-10 09:45] #58 closed

[2020-04-10 11:15] dko-slapdash commented on #41
@woutervh- I still want to return back to this topic since I read the source code of the library a little. In particular,

1. This is how the shortest possible syntax looks like currently (formatted with default Prettier): <img src="https://user-images.githubusercontent.com/46383452/78986768-eb781580-7ae0-11ea-8a00-3e5f49758d32.png" width="300" />
2. This is how the ideal (shortest possible) synta

[2020-04-13 01:47] dko-slapdash commented on #56
@woutervh- If you're positive on this `| null` idea, I can try implementing it by myself and submit a PR. Looks like I anyway need to fork the library for our purposes, so would be happy to contribute!

[2020-04-13 01:48] dko-slapdash commented on #57
@woutervh- If you think it's a good idea to let the catcher TypeGuardError understand, what data caused the error, I can try implementing it by myself and submit a PR. Would be happy to contribute!

[2020-04-13 02:05] dko-slapdash commented on #41
@woutervh- If you're positive on this idea to let the users configure additional functions which cause the library to codegen, I can try implementing it by myself and submit a PR.

What I want to do is basically modify https://github.com/woutervh-/typescript-is/blob/master/src/transform-inline/transform-node.ts#L102 condition and add one new config options to tsconfig's `transform` object: an arra

[2020-04-17 23:32] davidmoshal commented on #54
looks like a neat solution, wondering if anyone has configured `vue.config.js` ie: to use this with vuejs ?

[2020-04-20 00:58] dko-slapdash opened #59 "Generics like Row<T> { value: T } don't work with createAssertType, although many other ones work perfectly"
I noticed that some generics don't work when fed to createAssertType(), although many other generics work perfectly. E.g. an example of what doesn't work:

[code]

And here is a WORKING example:

[code]

[2020-04-20 01:35] dko-slapdash opened #60 "Feature: createEqualizerType() which works exactly as createAssertType(), but removes the props missing in the type"
Just a thought: createAssertType() works perfectly, and we use it for more and more external API calls now (we have hundreds of them). But the lambda which it creates just verifies the structure of the object, it doesn't remove the fields which are not mentioned in the typing. E.g. if we do
[code]
then the returned object is `{ a: "a", b: "b" }` and not `{ a: "a" }`.

Would be cool to have another

[2020-05-03 10:19] acomagu opened #62 "Transforming error on an interface extending a class including another class."
Hi thank you for amazing product. I really love it.

[code]

This throws like:

[code]

I think at least this limitation should be explained at README.

env:

[code]

Thanks!

[2020-05-03 10:36] acomagu commented on #62
Oh I understood why this error is caused because of [your comment](https://github.com/woutervh-/typescript-is/issues/20#issuecomment-484398130).

[2020-05-03 10:39] acomagu commented on #62
Now I think this issue is not so critical problem(just the error message is not meaningful) so I close.

[2020-05-03 10:39] #62 closed

[2020-05-03 23:08] acomagu commented on #20
In my opinion, but actually nobody want to treat non-Foo object as Foo instance. If we really want, we can create new interface extending the class. It's enough to make possible to accept such interfaces for typescript-is. I think this library should continue to crash when it face classes, because it's bigger problem that I cannot notice the type is including classes.

I +1 the solution giving cla

[2020-05-07 15:43] woutervh- commented on #47
Thanks for linking this issue microsoft/TypeScript#32166
Looks like a promising solution :) I will take a look

[2020-05-07 15:47] woutervh- commented on #56
Hi @dko-slapdash

Yes, in theory it's possible to improve the error messages. But to me it's not entirely clear what should be reported in the error message. One idea I had is to report the problem with each alternative in the type unions, but this can rapidly grow the error message in size and complexity. Especially when there are nested alternatives, does each possible branch need to be reported

[2020-05-07 15:49] woutervh- commented on #57
hi @dko-slapdash

Yes, this sounds like a good idea :) It should be pretty simple to implement as well. Feel free to submit a PR!

[2020-05-07 15:50] woutervh- commented on #59
hi @dko-slapdash

[code]

Should work perfectly fine. This is most likely a bug. I will investigate it.

[2020-05-07 16:22] woutervh- commented on #60
Hmm the existing equality function family (`equals`, `createEquals`, `assertEquals`, `createAssertEquals`) does something similar, but it performs validation only, and does not filter out properties that don't belong there.
For example it will throw an error: `createAssertEquals<{ a: string }>()({ a: "a", b: "b" })` because property `b` is superfluous. But it won't change the object to take out `b

[2020-05-13 22:38] dko-slapdash commented on #56
Since `| null` and `| undefined` (which is almost the same as `?field`) alternatives are used very frequently, I think it would be enough to process just them separately.

I.e. in this particular snippet:

[code]

the updated logic in the lambda might be:
1. OK, we have `| null` as one of alternatives. Is `data` really null? No. So remove `null` from the alternatives list.
2. (Do exactly the same

[2020-05-20 01:23] bradennapier commented on #52
This would be ideal.  As it stands it seems to fail in this case

[code]

with the results:

[code]

I would expect that the `is<MyTypeFn>` to mean the response here would be the function itself. but it is returning undefined.  I have enabled ignoreFunctions which it said would just return true here... but either way it makes sense that if the checker finds a function type in the type it is checki

[2020-05-23 20:53] gilr47 opened #63 "This library appears to be broken."
I am using windows 10 with node 12.x.

when I clone the library, build it and run the test suite I am getting a lot of linting errors, instead of tests:

src/transform-inline/transform-node.ts:1:1
ERROR: 1:1    linebreak-style  Expected linebreak to be 'LF'
ERROR: 2:1    linebreak-style  Expected linebreak to be 'LF'
ERROR: 3:1    linebreak-style  Expected linebreak to be 'LF'
...
and many more

a

[2020-05-27 19:14] jarofghosts opened #65 "Bug with latest TypeScript + Mapped types"
I've been trying to upgrade TypeScript to 3.9 and am encountering an issue with using `typescript-is` with [mapped types](https://github.com/jarofghosts/typescript-is-bug/blob/master/index.ts#L8) in that version.

Minimal test case:
- clone https://github.com/jarofghosts/typescript-is-bug
- `npm ci`
- `npm test`

[code]

[2020-05-31 13:24] woutervh- commented on #63
Hi @gilr47

The lines in the source code as correct ('LF').
Maybe your Git is configured to convert LF to CRLF when checking out?

Here's a related stackoverflow post:
https://stackoverflow.com/questions/10418975/how-to-change-line-ending-settings

Try changing to `Checkout as-is, commit as-is`

[2020-05-31 13:26] woutervh- commented on #65
Hi @jarofghosts

Thanks for the report. I will have a look and try to fix this for TypeScript 3.9

[2020-05-31 14:33] woutervh- commented on #65
@jarofghosts

Thanks again for the detailed report.
I think I have found a fix.

Please try the new release:
https://github.com/woutervh-/typescript-is/releases/tag/v0.16.2

[2020-06-01 17:42] jarofghosts commented on #65
@woutervh- thanks for the quick fix, seems to be working now!

[2020-06-01 17:42] #65 closed

[2020-06-02 02:27] dko-slapdash commented on #57
Closed in https://github.com/woutervh-/typescript-is/pull/64

[2020-06-02 02:27] #57 closed

[2020-06-05 06:26] AndyBarron opened #66 "[feature request] Variant of assertType that clones object"
For some use cases, such as validating untrusted input, it would be nice to have a version of `assertType` that creates a new object and clones the input recursively, rather than returning the original object unmodified.

[2020-06-08 18:54] t-winter opened #67 "validator function crashes if it encounters BigInt"
The validation function throws a TypeError if it encounters a BigInt where it expected something else.

Example: `assertEquals<string>(BigInt(1))`

This occurs since 0.16.1 and appears to be caused by the incompatibility of `JSON.stringify()` with the BigInt data type when returning the value that was found where another type was expected.
I'd like to add that `JSON.stringify()` has other issues (

[2020-06-18 08:15] woutervh- commented on #66
Hi @AndyBarron

I think some existing deep clone packages will already do this very well:
https://www.npmjs.com/package/clone-deep
https://www.npmjs.com/package/deep-clone
https://www.npmjs.com/package/deepcopy

[2020-06-18 08:18] woutervh- commented on #67
Hi @t-winter

Thanks for the detailed report. Indeed `JSON.stringify` does not seem to be able to handle `BigInt` types, among other things.

Your suggestion to use `util.inspect` when possible and wrapping `JSON.stringify` with a `try/catch` sounds like a good solution.

I will update this issue when I've published a fix :)

[2020-06-18 09:16] woutervh- commented on #67
Released fix
https://github.com/woutervh-/typescript-is/releases/tag/v0.16.3

Test file
https://github.com/woutervh-/typescript-is/blob/master/test/issue-67.ts

[2020-06-18 09:17] #63 closed

[2020-07-05 13:58] b-zurg opened #69 "Webpack cache-loader interferes with ts-loader"
I'm not sure if this is something appropriate for here but I noticed something interesting.  While using this recommendation from the readme:
[code]
I noticed that it only works when I don't use `cache-loader` in this rule.  (e.g. `rules: ['cache-loader', { loader: 'ts-loader', ...}`
I believe the same goes for using ttypescript.

If this is a known then it might be good to mention it on the readm

[2020-07-07 08:52] #67 closed

[2020-07-07 08:52] woutervh- commented on #66
closing for house keeping

[2020-07-07 08:52] #66 closed

[2020-07-07 08:55] woutervh- commented on #69
hi @b-zurg

I didn't know this. I never used `cache-loader` so I don't know how it works or why it could interfere with the transformers.
Thanks for letting me know. I will have a look if it can be solved easily - or put up a warning message on the README

[2020-07-07 08:56] woutervh- commented on #56
hi @dko-slapdash

It's an interesting idea, doing it just for `null` and `undefined` :) I will take a look if it can be done easily.

[2020-07-07 12:13] b-zurg commented on #69
Hi!  I've done a little more investigation.  Sorry my original post was misleading, but I had to work through some variation in my webpack config to really figure out what was going on.

The issue was the `transpileOnly` flag in ts-loader.

I was using this flag in combination with the `fork-ts-checker-webpack-plugin` like many others to speed up transpilation time while still having type safety.

[2020-07-07 18:21] rien commented on #54
@davidmoshal I'm also trying to, but it is unfortunately not working with the following config:
[code]
It keeps throwing the error `This module should not be used in runtime. Instead, use a transformer during compilation.`. I fear there is some other rule in the webpack config handling that piece of code.

[2020-08-04 19:30] skbergam opened #72 "Option to produce joi schemas instead"
May javascript applications use [joi](https://www.npmjs.com/package/joi) to validate wild/untyped inputs. It would be great if this project had a way to produce one of those as an alternative to the predicate functions. I think you would get a lot more adoption as there are several requests out there already for someone to build something like this.

[2020-08-13 07:47] stevenlaidlaw opened #73 "assertType throws errors on valid union null results"
`const body: string | null = assertType<string | null>(null);`

This simple test will cause a TypeGuardError to be thrown.

[2020-08-27 07:07] rashid301 opened #74 "Unable to throw Custom TypeGuardError. Type validation fails"
It seems the typescript declaration of TypeGuardError is missing the actual constructor.

When I do `throw new TypeGuardError(errorObject, inputObject)`, typescript pickups the constructor of Error object and allows only one message argument. But the definition requires `errorObject` and `inputObject`

Definition https://github.com/woutervh-/typescript-is/blob/master/index.js#L34
Declaration https

[2020-09-20 13:23] Pwuts commented on #73
A similar problem exists with ```null``` values in objects:
[code]
output:
[code]
should be (as far as I know):
[code]

[2020-09-30 16:10] Venryx commented on #20
Option 2 sounds best to me (though option 1 and 3 are also fine).

The reason I don't have issue with `is<Class>(classInstance)` checking for mere shape-matching by default, is that this behavior is the natural assumption for me: if I wanted to check for prototype matching, I would just have used `instanceof`. (in other words: "I got this library for shape-checking, not prototype checking -- as th

[2020-09-30 21:30] Venryx commented on #52
I have the same request.

My use case is that I am doing runtime-type-checking of all arguments passed between the frontend and backend of an Electron. app (the data passes through a [context-bridge](https://www.electronjs.org/docs/api/context-bridge), since I have context-isolation turned on)

I do these generic runtime-type-checks as an extra precaution, in case at some point the frontend portio

[2020-10-07 04:05] JacksonGariety commented on #54
I get the same runtime error at @rien on a bare webpack config. The transformation doesn't seem to happen at all. No compilation errors.

[2020-10-08 18:52] Venryx opened #75 "Method param-type assertions error when earlier params have no decorator"
The approach for adding runtime type-assertions for class-method params (using `@AssertType()`), fails when there are params without that decorator earlier in the param list.

Reproduction: (needs the [decorator setup here](https://github.com/woutervh-/typescript-is#decorators-validateclass-and-asserttype), of course)
[code]

Running the above gives the following error:
[code]

The line that error

[2020-10-08 18:59] Venryx commented on #75
A temporary workaround is to add the `@AssertType()` decorator to the earlier params, but just mark their type as `any`.

However, the fix given in the OP would be better, as some people might want a custom type for earlier params, but just not have runtime checking of it. (also, it is unexpected for library users that placing a decorator on one param would require you to add it to all the previou

[2020-10-12 18:58] rhalaly opened #76 "Pick is unbound?"
I have an interface that defines a type:
[code]

[2020-10-12 19:12] rhalaly opened #77 "Pick/Omit are unbounded?"
I have an interface that defines a type:
[code]
And I want to get from the client without the `protectedField`, so I tried to do:
[code]

But I get an error that `FooReq` is unbounded.

How can I do such checking without rewriting the entire interface? (My actual interface is much bigger and I have several types like `FooReq` so I want to avoid copy the interface)

[2020-10-12 19:42] #77 closed

[2020-10-12 19:43] #76 closed

[2020-10-14 19:24] rhalaly opened #78 "Type protecter"
Hi, first of all thank you for your great library!

I'm wondering if you can add another action that is not "pure assertion" but also help us to protect the objects. I'm looking for something between `is` and `equals` that check if the object assignable and if it is remove all the unnecessary properties from the object.

Something like:
[code]

[2020-10-18 20:58] wheercool opened #79 "Generated code duplication"
[code]

In this example there are 2 uses of `is` with the same interface `IUser`.
Current implementation inlines all usages of `is`, so it cause a code duplication.
Is it possible to generate some kind of `cache/registry` where all definitions will be stored?`

[2020-11-24 12:58] DetachHead opened #80 "@AssertType decorator doesn't work on class constructors"
[code]

[2020-11-25 09:33] #69 closed

[2020-11-25 09:35] woutervh- commented on #69
Thank you @b-zurg

Sorry for huge delay on my side. I will release this soon!

[2020-11-25 16:59] woutervh- commented on #73
hi @stevenlaidlaw and @Pwuts

I'm suspecting it has to do with the `strictNullChecks` option. Can you provide me with your compiler options / tsconfig.json?

[2020-11-25 17:08] woutervh- commented on #74
Thanks @rashid301

I will release a fix for this soon.

[2020-11-25 17:17] woutervh- commented on #75
Thanks @Venryx for the report and a fix as well!

I will release this soon.

[2020-11-25 17:20] woutervh- commented on #79
Hi @wheercool

At the moment this is not possible, except using for example the `createIs` function:

[code]

At the moment there is no "smart" caching or sharing of code between types that does this automatically.

[2020-11-25 17:23] woutervh- commented on #80
Thanks @DetachHead for reporting the issue.

I will investigate this issue. I'm not familiar with placing decorators on constructors so I'll try to find a solution.

[2020-11-25 18:09] woutervh- commented on #52
hi everyone,

I've added a transformer option `functionBehavior` in v0.17.0:
https://github.com/woutervh-/typescript-is/releases/tag/v0.17.0

This option can take the values `basic`, `ignore` or `error`.
`error` is like `ignoreFunctions: false`, it will throw compile-time errors when functions are found.
`ignore` is like `ignoreFunctions: true`, it will create a validation which always passes.
`ba

[2020-11-25 18:13] woutervh- commented on #59
Hi @dko-slapdash

I've released v0.17.0 which hopefully fixes the issue for you:
https://github.com/woutervh-/typescript-is/releases/tag/v0.17.0

[2020-11-25 18:14] woutervh- commented on #73
I've made a preliminary fix in v0.17.0 which hopefully addresses the `| null` issue with `strictNullChecks: false`.
https://github.com/woutervh-/typescript-is/releases/tag/v0.17.0

Please let me know if it's working or not.

[2020-11-25 18:14] woutervh- commented on #74
Done!

https://github.com/woutervh-/typescript-is/releases/tag/v0.17.0

[2020-11-25 18:14] woutervh- commented on #75
Done!

https://github.com/woutervh-/typescript-is/releases/tag/v0.17.0

[2020-11-25 22:00] #75 closed

[2020-11-26 04:16] rashid301 commented on #74
Thank you. I can confirm the issue is resolved in the new version.

[2020-11-26 04:16] #74 closed

[2020-12-03 07:27] foresightyj commented on #54
same problem here with vue-cli.

[2020-12-03 15:50] ff-jkrispel commented on #73
it worked :tada:

[2020-12-04 05:58] juliankrispel commented on #73
only problem now is - non-nullable types are now also allowed to be null it seems

[2020-12-06 19:41] Pwuts commented on #73
@woutervh- in reference to my [previous comment](https://github.com/woutervh-/typescript-is/issues/73#issuecomment-695786851):

with `"strictNullChecks"` omitted from my `tsconfig.json`:
[code]

with `"strictNullChecks": true`:
[code]

with `"strictNullChecks": false`:
[code]

The default of `strictNullChecks` is `false` ([source](https://www.typescriptlang.org/tsconfig#strictNullChecks)), so the

[2020-12-07 14:07] ploth commented on #54
If I get the [vue-cli documentation](https://cli.vuejs.org/guide/webpack.html) right the way to go is to integrate @andykais snippet into the `vue.config.js` so it gets merged into the resulting `webpack.config.js` of the vue-cli setup (they are usting `webpack-merge` and `webpack-chain`).
To have a look into the resulting `webpack.config.js` just run `npx vue inspect`

[code]

Unfortunately I run

[2020-12-08 18:03] hmil commented on #54
@ploth Thanks for the shoutout, but I think you've credited the wrong person for your solution 😅

[2020-12-11 09:52] dko-slapdash commented on #41
@woutervh- so what do you think about the above? Would you be open for such a PR which adds support for recognizing custom methods (configurable in tsconfig) in addition to default assertType/createAssertType?

[2020-12-12 01:28] ploth commented on #54
hmm, interesting :upside_down_face:
thanks @rien !

[2020-12-18 18:30] stevendesu opened #82 "Value validation (Is there interest in this feature?)"
After a lot of searching I couldn't find a library or tool that did what I wanted, so I started to build it myself when I realized that 90% of the parts were already in place within typescript-is, and it would be much faster to fork typescript-is and add this feature than to build it all out from scratch. So long as I'm working on this fork, I wanted to see if there was any interest on merging thi

[2020-12-18 18:38] stevendesu commented on #82
Some more specifics for the ideas I planned on implementing:

 - Types, interfaces, and classes can have the optional JSDoc-style comment tag `@validate` specifying how validation should function. It's followed by an enumerated string with one of the values: `all`, `fields`, or `throw`. In the case of `all`, ***all*** fields must validate or the `is<Type>()` check returns `false` (we don't process

[2020-12-25 05:30] ilya-pirogov opened #83 "Incorect validation of tuples"
This check:
[code]
Generates the following code:
[code]
But correct range is 1 or more strings.

typescript: 4.1.3
ttypescript: 1.5.12
typescript-is: 0.17.0

[2020-12-29 14:53] Pwuts commented on #73
(Sidenote: I looked into fixing this myself and making a PR, but there was so much code and it seemed immensely complex; I didn't even know where to begin. If you can point me in a direction I might be able to contribute.)

[2020-12-30 02:09] francescov1 commented on #60
I second this, having filtering ability would be awesome (we generate our route handlers and use `assertEquals` to ensure request parameters are always correct). For production use, filtering out unwanted properties is often favourable so that we do not accidentally show the user a cryptic validation error message.

Happy to give this a go, haven't gone through the code at all but I assume it shou

[2021-01-18 17:46] isaachinman opened #84 "Why is the dist target ES6?"
Hi @woutervh-, and thanks for a fantastic OSS project!

I have recently set up `typescript-is` in a new NextJs project, and am very happy with the results.

However, my CI has failed on its [`es-check`](https://www.npmjs.com/package/es-check) step, and it took me a little while to realise that the violating arrow functions were coming from this package itself. In this case, I need to support IE11,

[2021-02-10 10:37] DetachHead opened #85 "runtime representation of types as objects"
it would be cool if you could so something like this:

[code]
and it gets transformed to something like:
[code]

[2021-02-10 19:14] davidfurey opened #86 "Unbound type parameter error for interface extending type"
When you extend a generic interface, typescript-is correctly identifies that you have bound the type parameter.  If instead you extend a generic type alias, typescript-ts throws the error `Unbound type parameter, missing type node.`

### Example with error
[code]
### Example without error
[code]

[2021-02-10 19:58] #86 closed

[2021-02-10 20:01] woutervh- commented on #86
Thanks again for the PR, @davidfurey

Release: https://github.com/woutervh-/typescript-is/releases/tag/v0.17.1

[2021-02-10 22:07] davidfurey opened #88 "Unbound type parameter error for type alias of type alias of interface"
Example with error:
[code]

[2021-02-11 19:32] woutervh- commented on #85
Indeed it's a nice idea, but I consider it out of scope for this project.

Something like this exists here:
https://github.com/YousefED/typescript-json-schema

[2021-02-11 20:57] DetachHead commented on #85
Thanks. I also found this project which seems more like what I have in mind https://github.com/awerlogus/io-ts-transformer, though it [seems to be  broken](https://github.com/awerlogus/io-ts-transformer/issues/6)

Not sure how I missed it as it's mentioned in the readme here.

[2021-02-16 09:17] Web-Engine opened #90 "Support integer or custom guard type"
I want to check the value is a `integer` not even `number`.

[code]

makes like:
[code]

or

[code]

[2021-02-18 23:42] DetachHead opened #91 "support template literal types"
https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html

[2021-02-21 07:34] DetachHead commented on #91
i'm giving this a shot https://github.com/DetachHead/typescript-is

[2021-02-27 03:37] DetachHead commented on #91
some things to consider:
- template literal types that only contain unions and/or booleans evaluate to unions of all possible string combinations. in cases like this, typescript-is already supports it because the type it evaluates to is just a regular union
- template literal types that contain `${string}`, `${number}`, etc. are implemented in such a way that leads to [some unexpected behavior](ht

[2021-03-05 12:00] DetachHead commented on #91
i went with treating the values the same way the compiler does

[2021-03-07 18:17] #91 closed

[2021-03-07 18:20] woutervh- commented on #91
Thanks again.
Release `v0.18.0` https://github.com/woutervh-/typescript-is/releases/tag/v0.18.0

[2021-03-07 18:21] #88 closed

[2021-03-07 18:24] woutervh- commented on #88
Thank you @davidfurey !
Released https://github.com/woutervh-/typescript-is/releases/tag/v0.18.1

[2021-03-10 14:38] shhac opened #93 "Cannot find module './src/transform-inline/visitor-utils' or its corresponding type declarations"
Upgrading from `0.17.1` to `0.18.0`/`0.18.1` can no longer build my project under `ttsc`

* Issue seems to be around `visitor-utils`
* To reproduce you'll need to delete your `node_modules` and re-install dependencies e.g. by running `npm ci`
* Using Node 14.15.3

[code]

[code]

There isn't a log identifying which file specifically `typescript-is` doesn't like from within my project 😞

[2021-03-11 13:00] rolends1986 commented on #54
use vue3.0
1,Keep  parallel: false
2,Config chainWebpack
` parallel: false,//require('os').cpus().length > 1, on build error
  chainWebpack: config => {
    config.module
      .rule("ts")
      .use("ts-loader")
      .tap(opts => {
        return Object.assign(opts || {}, {
          transpileOnly: false,
          getCustomTransformers: program => {
            return ({
              before: [

[2021-03-17 20:31] joshAg commented on #93
this is the line with the error: https://github.com/woutervh-/typescript-is/pull/92/files#diff-7aa4473ede4abd9ec099e87fec67fd57afafaf39e05d493ab4533acc38547eb8R1

[2021-03-20 10:35] woutervh- commented on #93
Thanks guys, I found that the issue was indeed with the import, and copied the type into `index.d.ts`.

Released version `v0.18.2` https://github.com/woutervh-/typescript-is/releases/tag/v0.18.2

[2021-03-20 10:35] #93 closed

[2021-03-20 11:30] DetachHead commented on #93
that's funny, i found this issue just a few minutes before you pushed this fix.

seems like it was due to the fact that an `index.ts` isn't compiled as part of the ts project, but instead two separate `index.d.ts` and `index.js` files. i tried to fix this but it seems to be set up this way because the function signatures need to be different to the actual functions? i wonder if there's a cleaner s

[2021-03-22 08:25] ArashMotamedi opened #95 "Unbound type parameter, missing type node."
Love this library. Thank you!

Encountered an issue, where `typescript-is` is unable to parse and produce a `createEquals` for the following type:

[code]

Meantime, that type definition `InsertRequest` doesn't trip up TS or VS Code:

[code]

Appreciate your help taking a look at this. Is there something I'm doing wrong? Can I write this differently for it to compile and produce the appropriate eq

[2021-03-22 21:59] oleg-slapdash commented on #56
@woutervh- Please review this PR https://github.com/woutervh-/typescript-is/pull/96 that partially fixes this issue. Thank you!

[2021-03-23 00:29] dko-slapdash commented on #25
@woutervh- I want to re-raise this question still since the behavior of TS and behavior of typescript-is is different here.

An example:

[code]

At the same time, the following code is perfectly fine (and is by design) in TS:
[code]

Above, you mention that `a?: string` and `a: string | undefined` are different in TS. Yes, indeed they are. But the question in the current issue is not about this,

[2021-03-23 04:44] ArashMotamedi opened #97 "`equals` issue with Generic interface"
Should `equals` be able to process a generic nested property of a generic interface? I'm getting `false` when trying to evaluate the following object:

[code]

By the way, if this issue is related to the other one I opened yesterday, happy to consolidate or close the other one.

[2021-03-23 15:49] francescov1 commented on #60
Checking in if there's any progress/updates on this? If you can point me in the right direction I'd love to help out over the next month or two.

As a workaround (only really works for top-level properties but let me know if you have ideas for nested) we've used [ts-transformer-keys](https://github.com/kimamula/ts-transformer-keys) & [_.pick](https://lodash.com/docs#pick) to first filter an object

[2021-04-03 12:17] DetachHead opened #98 "assertNotNull function and an option to transform non-null assertion operators to use it"
something like this
[code]

and a new transformer option like `transformNonNullAssertions` to transform stuff like `foo!.bar` to `assertNotNull(foo).bar`

[2021-04-24 20:09] nevillco commented on #14
I'm also seeing this on a new Node project. The `verbose` flag confirms the plugin is running (I get `typescript-is: transforming program with 287 source files; using TypeScript 4.2.4.`), but then still receive `This module should not be used in runtime. Instead, use a transformer during compilation` at runtime. Not sure if I'm missing something or something is broken.

`package.json`:
[code]
`tsc

[2021-04-29 14:02] nikksan opened #99 "Nested props fail type check"
Types created using type functions with nested props don't work correctly.
[code]
^ outputs `true, false`. Just for comparasion, if the `color` was not nested, the same example works.

[2021-05-19 01:22] genesst commented on #14
Any updates on this one? Facing the same issue.

[2021-05-19 03:04] genesst opened #101 "This module should not be used in runtime. Instead, use a transformer during compilation."
I'm trying to make `typescript-is` work in a Lambda runtime. Lambda is being deployed with AWS CDK.

`cdk.json`:
[code]

`package.json`:
[code]

`tsconfig.`:
[code]

Adding `"verbose": true` to plugins confirms that transformer is working. But when the function is being invoked it throws an error with the following stack:
[code]

Would you suggest anything?

[2021-05-30 14:40] sgpinkus opened #102 "Feature request: Allow disallowSuperfluousObjectProperties as an option to AssertType decorator factory"
It would be useful to be able to override tsconfig.json `disallowSuperfluousObjectProperties` value on a case by case basis in AssertType decorator factory: `@AssertType({ disallowSuperfluousObjectProperties: true|false})`. Currently I'm pretty sure this isn't supported (??).

If not possible currently, not sure if it's maybe a lot of work (the transformer code looks surprisingly complicated), but

[2021-06-13 15:23] garzj opened #103 "Support generic function arguments"
Would it be possible to support something like that?

[code]

[2021-06-29 14:47] #56 closed

[2021-06-29 15:03] woutervh- commented on #56
Released `v0.18.3`

[2021-06-29 16:46] dko-slapdash commented on #56
@woutervh- Oh wow, thanks a lot! BTW, the credit should've been given to @oleg-slapdash oleg-slapdash who prepared that PR, not to me.

[2021-06-30 09:17] HitoriSensei opened #104 "@AssertType throws synchronously in async methods"
When using `@AssertType` decoator on `async` methods, calling the method throws synchronously instead of returning rejected promise.

example:
[code]

It would be perfect to make AssertType aware ot `async` keyword or `Promise` return, but is it even possible?

[2021-06-30 11:06] HitoriSensei commented on #104
I've done my research on decorators and metadata and prepared a PR addressing the issue:
https://github.com/woutervh-/typescript-is/pull/105

[2021-07-01 21:53] DetachHead opened #106 "update template literal types to support index signatures"
https://devblogs.microsoft.com/typescript/announcing-typescript-4-4-beta/#symbol-template-signatures

Currently it just treats them as a string, but now that typescript 4.4 changes this, it should be changed in typescript-is as well

[2021-07-22 13:27] brillout opened #107 "Vite Support"
I supporting https://vitejs.dev something you're interested in?

So that users can simply:

[code]

[2021-07-30 16:44] oleg-slapdash opened #109 "Feature Request: Shortcut to simplify `const v = func(); is<type>(v) ? v : default`"
I've noticed that I've been used this pattern for a while now. It would make a good quality of life improvement if I could check the type and then default to another value if the type check fails.

A common use case is when I need to call some function and then do verification:
[code]
This should be easy to simplify to:
[code]

The function name (ifType) is up to you

[2021-07-30 17:11] oleg-slapdash commented on #109
Also, as an inspiration, we can look at SQL `COALESCE` function - https://docs.faircom.com/doc/sqlref/33405.htm. In this case, we can extend our typedef to the following: `coalsceType<Target>(maybeTarget1, maybeTarget2, maybeTarget3);`

[2021-08-18 20:53] mattddean commented on #101
Did you find a solution to this?

[2021-09-10 01:08] etler opened #110 "Fix intersections with primitives to add support for branded/flavored types"
["Branding" and "Flavoring" is a technique to achieve nominal like typing in typescript](https://spin.atomicobject.com/2018/01/15/typescript-flexible-nominal-typing/)

It works by using an object intersection with a primitive. Since objects can be intersected with anything, this does not create a never type, but instead the type expects the primitive, and since objects can't be primitives, only th

[2021-09-16 09:44] lukas-valenta opened #111 "Intersection disables `disallowSuperfluousProperties` all the way down"
With `disallowSuperfluousProperties` on, the following code results in wrong typecheck:
[code]

The `super: 'fluous'` property does not get caught with `is<BarIntersection>`, but `is<Foo>` and `is<BarNotIntersection>` both catch it. This is because `typescript-is` disables `disallowSuperflousProperties` when encountering an intersection (and for a good reason), but never restores it. I have writte

[2021-10-27 20:38] dko-slapdash opened #113 "Non-deterministic code generated"
Hi.

I was debugging the reason of why so many compiled files are changed in our project when a (seemingly unrelated) file change is made, and I found out that typescript-is re-generate the validators code on every change, even when the file isn't changed itself:

![image](https://user-images.githubusercontent.com/46383452/139142534-4dee2d86-a18e-4220-a563-f66265016b33.png)

It's fine that it rebu

[2021-11-01 09:33] #113 closed

[2021-11-01 09:39] #98 closed

[2021-11-01 09:59] #111 closed

[2021-11-10 23:13] francescov1 commented on #14
Any solution for this? Still running into it

[2021-11-13 17:15] SebastienGllmt opened #115 "Support type indexing with a generic type"
# Description

Currently typescript-is fails with `Failed to transform node` when trying to index type using a generic type

This happens on latest master (0.19.0)

# Issue reproduction

Both of these tests will fail

[code]

# Investigation

Currently, the code will throw on https://github.com/woutervh-/typescript-is/blob/0dbefd0d7f7e455ecd018673868b7bf7785c1296/src/transform-inline/visitor-utils

[2021-11-14 00:46] SebastienGllmt opened #117 "Parsing fails when target & aliasTypeArguments are at different levels"
# Background

Consider the test case in PR #115

It works well when the use of the generic is in the top-level of the type. Notably, the visit order will look something like this
[code]

Notice the first thing in the parsing order will be the `aliasReference `.

However, now consider the modified definition given below

[code]

This modified code instead gives the following visit order
[code]

Not

[2021-11-15 22:46] SebastienGllmt commented on #117
I suspect maybe this is part of a large issue, because for example

The following works
[code]

However, the following doesn't
[code]

In this case, the failure case it will throw an error because `if ((ts.TypeFlags.Conditional & type.flags) !== 0)` isn't checked in the `visitType` or type-check or type-name, but it seems strange this would be an issue where as the version not wrapped in an object

[2021-11-25 01:12] sgehly opened #118 "Investigation of Unbound Type Parameters"
I was recently looking at #115 and I'm wondering if it may be possible to expand it into supporting nested & unbound parameter types. I know this is part of the "What it wont do" section, but it may be nice to investigate.

Here's a potential test that currently fails due to an unbounded type parameter:

[code]

Unfortunately I don't have the technical know-how of typescript transformers to implem

[2021-12-04 04:52] acomagu opened #119 "typescript-is introduces "typescript" dependency into production environment"
typescript-is depends on typescript package indirectly, so typescript compiler is installed whenever we use typescript-is, even if in production environment.

[typescript package](https://www.npmjs.com/package/typescript) has a size of 64MB. This is too big to ignore(e.g. The limit of AWS Lambda asset is 250MB)

<details>

<summary>Reproduction</summary>

package.json:

[code]

Then, `NODE_ENV=pro

[2021-12-15 08:24] ivarne commented on #50
Found this from the link in the error message and want to leave a note that `ignoreFunctions` is deprecated and you can now declare `functionBehavior: "basic"` instead.

[2021-12-21 16:03] MurhafElmasri commented on #110
we faced this issue with our work, so I had to solve it.
you can check pull request #120.

[2022-01-11 09:03] jeznag opened #121 "TypeError: Cannot read property 'text' of undefined"
I'm getting this error when I try to use typescript-is.

<img width="1176" alt="CleanShot 2022-01-11 at 19 25 57@2x" src="https://user-images.githubusercontent.com/1034890/148911693-06b670ca-aa57-4347-838c-87e120487c10.png">

The offending line is:

[code]

Any suggestions on how to debug this?

[2022-01-12 22:59] North101 opened #122 "Bug: A missing key and a key with a value of undefined are not considered the same"
Example:
[code]

Should they not both be true?

[2022-02-17 15:06] lukasluecke commented on #107
@brillout I know it's been a while since you made this comment, but I would love something like this. How would you go about implementing that? Any pointers?

[2022-02-17 15:10] Fuzzyma commented on #107
Vite uses esbuild to prebundle dependencies and to transpire code on the fly in dev mode. Esbuild does not parse type information. Therefore typescript-is can't work there. You would need to replace esbuild with typescript which will hugely slow down dev experience

[2022-02-17 15:17] lukasluecke commented on #107
I was assuming that @brillout had some solution in mind when proposing this.

I'm currently comparing a bunch of libraries for this, some using babel macros, some based on typescript, etc. - just trying to find out how each of them could be integrated in a Vite project 🙂 I would actually be fine with having generating the typeguards be a separate process as well, so might look into how that would

[2022-02-17 15:37] brillout commented on #107
@lukasluecke What's your use case?

@Fuzzyma A strategy is to apply `typescript-is`'s transfomer only for a couple of files, then performance is not an issue. For example only for `.telefunc.js` files (when using [Telefunc](https://telefunc.com/)).

In general, if it works for webpack, I don't see any reason why it wouldn't work for Vite.

[2022-02-17 15:38] lukasluecke commented on #107
@Fuzzyma Do you know which competitor that is by any chance? Might be another one to add to my list of candidates 😁

Yeah I'm not really looking to switch to swc at the moment, at least not for just this.

[2022-02-17 15:40] lukasluecke commented on #107
@brillout Yeah that was one of my ideas as well, but I'm not sure if it needs to "transform" all files that contain types referenced in the guard - or if it is able to traverse them automatically.

Use case is basically validating some JSON loaded externally against MUI theme schema (and some custom types). Would love to have it based on the types, instead of something like JSON schema.

[2022-02-17 15:41] Fuzzyma commented on #107
Lib: https://github.com/rhys-vdw/ts-auto-guard

Ofc webpack can do it. So can roll up. They both use typescript under the hood to accomplish that. But as esbuild made painfully clear: build tools ate awfully slow and you don't really want typescript in your build chain. However, a watcher process that would only compile those files on change might work because that change would be picked up by vit

[2022-02-17 16:14] brillout commented on #107
@lukasluecke Exhaustive list: https://github.com/akutruff/typescript-needs-types. Let me know if you find something suitable for Vite.

@Fuzzyma You may want to use `esbuild` for `node_modules` but for user code using a slower transpiler is not a problem since Vite transpiles in a lazy fashion.

[2022-02-18 08:24] thekingofcity opened #123 "Fail to check Enum in Record"
`data` is not a valid `Translation` in the following code because `kr` should be `ko`, but `is<Translation>(data) === true`.  Let me know if it is not supported yet.

[code]

I ran it under `ttypescript` and `ts-node` by `$Env:TS_NODE_COMPILER="ttypescript"` and then `node --loader ts-node/esm test.ts`.

[2022-03-18 23:17] yinzixie commented on #107
Any upgrade? Or anyone can teach me how to setup it with vite?

[2022-04-05 04:53] domino2 opened #126 "Have you plan to support Deno?"
It would be nice to have.

[2022-04-09 03:46] DetachHead opened #127 "use instantiation expressions in typescript 4.7"
https://devblogs.microsoft.com/typescript/announcing-typescript-4-7-beta/#instantiation-expressions

this can probably be used to deprecate the `create` functions. eg.

before:
[code]
after:
[code]

[2022-05-07 05:12] zdila opened #128 "Make generated code smaller by putting reusable strings to constants"
When I read the generated code it often repeats strings like `"validation failed at "`, `": there are no valid alternatives"`, `": expected an object"` and many more. Putting those to const variables and then using only those consts instead should help to reduce the size. Or maybe better to create error message builder functions like this:

[code]

Minifiers will also minify function and variable

[2022-05-09 14:55] ZeeD opened #129 "feature request: set custom error class in AssertType"
Hi.
I just found your project, witch is cool, and could let me avoid a lot of manual checks (I have a lot of class autogenerated by .proto files, and I wanted something to leverage the checks automatically) so, thanks for your project :)
I found the decorator `@AssertType()` very useful, but I was wondering if there is some way to let it know that it need to throws a custom Error, not `TypeGuardEr

[2022-06-22 11:00] Azarattum commented on #126
+1 for this.

Are there any workarounds to achieve runtime type checking in Deno right now?

[2022-07-11 21:34] dko-slapdash opened #131 "Thoughts on extending createAssertType()"
Hi.

@woutervh- Are you okay if I submit a PR to add the following feature to the value returned by createAssertType() - see example below:

[code]

Motivation: I want to have a single entry point to the assertions on some type MyType with some opinionated name (like MyType$), and then, having this entry point, be able to access it in 3 different modes (throwing, optional, guard).

[2022-07-22 03:19] dko-slapdash commented on #131
@woutervh- ?

[2022-08-04 14:26] artus9033 commented on #21
I believe this is still an issue, at least with `typescript@4.7.4`. The below code is sufficient as a MWE for reproduction:
[code]
which throws:
[code]

[2022-08-10 21:45] joshAg commented on #83
ran into this today. any work arounds?

[2022-08-15 19:14] dko-slapdash commented on #131
@woutervh- What do you think?

[2022-08-28 20:29] ViSaturn opened #132 "Incompatible with TypeScript 4.8"
The result of attempting running `ttsc` with `typescript-is` on TypeScript 4.8.2:
[code]
As soon as I switch back to TypeScript 4.7.2 the errors go away.
The TypeScript peer dependency in the package.json should probably be something like this until the problem is solved then:
[code]
Instead of this (what it is currently):
[code]
which accepts TypeScript 4.8.2 as a version

[2022-09-04 13:19] samchon commented on #132
https://github.com/samchon/typescript-json

My library supports TS 4.8 and more stable

[2022-09-04 14:10] samchon commented on #51
https://github.com/samchon/typescript-json/#comment-tags

My library `typescript-json` supports it.

[2022-09-04 14:11] samchon commented on #82
@stevendesu Some features are supported by my libraries

https://github.com/samchon/typescript-json/#comment-tags

[2022-10-10 15:07] samchon commented on #106
Another library `typescript-json` supports it.

https://github.com/samchon/typescript-json#runtime-validators

[2022-10-10 15:09] samchon commented on #107
@yinzixie https://github.com/samchon/typescript-json#vite

[2022-10-10 15:13] samchon commented on #126
Not possible, deno does not support transformation

[2022-10-10 15:17] samchon commented on #123
`typescript-is` does not support union key typed dynamic property.

What about using this library instead?

https://github.com/samchon/typescript-json#runtime-validators

[2022-10-10 15:18] samchon commented on #128
This library reduces generated code and elapsed time through closure:

https://github.com/samchon/typescript-json#runtime-validators

[2022-10-11 06:27] thekingofcity commented on #123
Thanks for the suggestion. However, `typescript-json` will also print `true` in the test snippet I posted before.

[code]

`tsconfig.json` is configured with `"transform": "typescript-json/lib/transform"`

I ran with `TS_NODE_COMPILER="ttypescript" node --loader ts-node/esm test.ts`

`typescript-json === 3.3.9` `ttypescript === 1.5.13` `typescript === 4.7.4`.

[2022-10-11 09:02] samchon commented on #123
@thekingofcity You should use `TSON.equals()` function instead of `TSON.is()` function.

The `ko` property be considered as superfluous, therefore it becomes `true`. However, `equals()` function does not allow superfluous property and it becomes `false` what you want.

[code]

[2022-10-11 09:12] samchon commented on #123
For reference, if you run same code through `typescript-is`, both `is()` and `equas()` return only `true` value.

[code]

[2022-10-11 10:12] thekingofcity commented on #123
Simply copying and pasting should help you create an issue unless you want someone helping you to increase your repo's activity.

[2022-10-11 11:42] samchon commented on #123
OK, I enrolled the issue and your feature would be supported soon. Wait an hour.

https://github.com/samchon/typescript-json/issues/237

[2022-10-12 09:03] thekingofcity commented on #123
Thanks for pointing out this. I didn't notice there is a `equals` function and looks like it also works in 3.3.9. 😄

[2022-10-12 09:27] samchon commented on #123
@thekingofcity Nope, `3.3.9` doesn't identify the enumeration key type. The reason why `equals()` function of `3.3.9` returns `true` is that the old version considered the object does not have any property. Therefore, you'd better to update to the `3.3.10` version to get exact validation result.

[2022-10-12 12:57] thekingofcity commented on #123
Maybe my device is still running `3.3.10` when I ran `npm i typescript-json@3.3.9` :(

Anyway, it works now and really thank you and your `typescript-json` project. I've made a PR using this at [railmapgen/rmg-palette#221](https://github.com/railmapgen/rmg-palette/pull/221)